<div class="container">
  <div class="slider">
    <slider [type]="'image'" [list]="images"></slider>
  </div>
  <div class="category-list">
    <div class="category-item">
      <a href="">
        <img src="../assets/images/home/phone.png" alt="" />
        <p>Điện thoại</p>
      </a>
    </div>
    <div class="category-item">
      <a href="">
        <img src="../assets/images/home/laptop.png" alt="" />
        <p>Laptop</p>
      </a>
    </div>
    <div class="category-item">
      <a href="">
        <img src="../assets/images/home/pc.png" alt="" />
        <p style="color: red">Bàn phím</p>
      </a>
    </div>
    <div class="category-item">
      <a href="">
        <img src="../assets/images/home/tablet.png" alt="" />
        <p>Máy tính bảng</p>
      </a>
    </div>
    <div class="category-item">
      <a href="">
        <img src="../assets/images/home/pk.png" alt="" />
        <p>Phụ kiện</p>
      </a>
    </div>
    <div class="category-item">
      <a href="">
        <img src="../assets/images/home/apple.png" alt="" />
        <p>Apple</p>
      </a>
    </div>
    <div class="category-item">
      <a href="">
        <img src="../assets/images/home/samsung.png" alt="" />
        <p>Samsung</p>
      </a>
    </div>
    <div class="category-item">
      <a href="">
        <img src="../assets/images/home/asus.png" alt="" />
        <p>Asus</p>
      </a>
    </div>
    <div class="category-item">
      <a href="">
        <img src="../assets/images/home/acer-logo.png" alt="" />
        <p>Acer</p>
      </a>
    </div>
    <div class="category-item">
      <a href="">
        <img src="../assets/images/home/others.png" alt="" />
        <p>Khác</p>
      </a>
    </div>
  </div>
  <div class="title">
    <span>Sản Phẩm Nổi Bật </span>
  </div>
  <tabs>
    <tab tabTitle="Ưu đãi">
      <div class="object-container">
        <div class="main-object">
          <div class="object">
            <a class="object-link" href="">
              <img src="../assets/images/home/samsung.png" alt="" />
              <span class="object-heading"
                >Ưu đãi giá sốc - Thu cũ đổi mới</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
        </div>
        <div class="sub-object">
          <div class="object">
            <a class="object-link" href="">
              <img src="../assets/images/home/samsung.png" alt="" />
              <span class="object-heading"
                >Ưu đãi giá sốc - Thu cũ đổi mới</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
          <div class="object">
            <a class="object-link" href="">
              <img src="../assets/images/home/samsung.png" alt="" />
              <span class="object-heading"
                >Ưu đãi giá sốc - Thu cũ đổi mới</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
          <div class="object">
            <a class="object-link" href="">
              <img src="../assets/images/home/samsung.png" alt="" />
              <span class="object-heading"
                >Ưu đãi giá sốc - Thu cũ đổi mới</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
          <div class="object">
            <a class="object-link" href="">
              <img src="../assets/images/home/samsung.png" alt="" />
              <span class="object-heading"
                >Ưu đãi giá sốc - Thu cũ đổi mới</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
        </div>
      </div>
    </tab>
    <tab tabTitle="Điện thoại">
      <div class="object-container">
        <div class="main-object">
          <div class="object">
            <a class="object-link" href="">
              <img src="../assets/images/home/apple.png" alt="" />
              <span class="object-heading"
                >Ưu đãi giá sốc - Thu cũ đổi mới</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
        </div>
        <div class="sub-object">
          <div class="object">
            <a class="object-link" href="">
              <img src="../assets/images/home/apple.png" alt="" />
              <span class="object-heading"
                >Ưu đãi giá sốc - Thu cũ đổi mới</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
          <div class="object">
            <a class="object-link" href="">
              <img src="../assets/images/home/apple.png" alt="" />
              <span class="object-heading"
                >Ưu đãi giá sốc - Thu cũ đổi mới</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
          <div class="object">
            <a class="object-link" href="">
              <img src="../assets/images/home/apple.png" alt="" />
              <span class="object-heading"
                >Ưu đãi giá sốc - Thu cũ đổi mới</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
          <div class="object">
            <a class="object-link" href="">
              <img src="../assets/images/home/apple.png" alt="" />
              <span class="object-heading"
                >Ưu đãi giá sốc - Thu cũ đổi mới</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
        </div>
      </div>
    </tab>
    <tab tabTitle="Laptop"></tab>
    <tab tabTitle="Phụ kiện"></tab>
    <tab tabTitle="Sinh viên"></tab>
  </tabs>
  <div class="title">
    <span>Sản Phẩm Bán Chạy</span>
  </div>
  <tabs>
    <tab tabTitle="Di Động">
      <div class="best-seller-container">
        <img src="../assets/images/home/phone.png" alt="" />
        <ol>
          <li>
            <a href="">
              <span class="product-title"
                >Iphone 14 Promax 256GB Chính hãng (VN/A)</span
              >
              <span class="more">Tìm hiểu thêm</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="product-title"
                >Iphone 14 Promax 256GB Chính hãng (VN/A)</span
              >
              <span class="more">Tìm hiểu thêm</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="product-title"
                >Iphone 14 Promax 256GB Chính hãng (VN/A)</span
              >
              <span class="more">Tìm hiểu thêm</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="product-title"
                >Iphone 14 Promax 256GB Chính hãng (VN/A)</span
              >
              <span class="more">Tìm hiểu thêm</span>
            </a>
          </li>
        </ol>
      </div>
    </tab>
    <tab tabTitle="Laptop"></tab>
    <tab tabTitle="Phụ Kiện"></tab>
    <tab tabTitle="Khác"></tab>
  </tabs>
</div>
