.swiper {
  z-index: 0;
}
.swiper-wrapper {
  height: 400px;
  width: 100%;
}
.slider img {
  display: block;
  width: 100%;
  height: 400px;
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  border: 1px solid #fff;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
}

.category-list {
  display: flex;
  background-color: #f4f4f4;
  flex-flow: row wrap;
  margin-top: 80px;
}
.category-item {
  width: 20%;
  text-align: center;
  padding: 30px;
}
.category-item:hover img {
  /* font-weight: bold; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
.category-item img {
  border-radius: 50%;
  width: 160px;
  height: 160px;
}

.category-item a {
  text-decoration: none;
  color: #000;
}

.object-container {
  display: flex;
  height: 600px;
}
.main-object {
  width: 50%;
  padding: 12px;
  text-align: center;
  height: 100%;
}
.sub-object {
  display: flex;
  width: 50%;
  text-align: center;
  flex-flow: wrap;
}
.object {
  height: 100%;
}

.object:hover,
.category-item:hover {
  animation: jump 0.5s ease-in-out;
}
.sub-object .object {
  width: 50%;
  height: 50%;
  padding: 4px 12px;
}
.object img {
  width: 80%;
  min-height: 50%;
}
.object-link {
  display: block;
  border-radius: 50px;
  border: 1px solid #d9d9d9;
  padding: 8px 24px;
  height: 100%;
}

.object-heading {
  display: -webkit-box;
  color: #7b00a1;
  font-weight: 700;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.object-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.best-seller-container {
  display: flex;
  height: 500px;
}
.best-seller-container img {
  width: 50%;
}
.best-seller-container ul {
  width: 50%;
}
.best-seller-container .product-title {
  display: block;
  font-weight: bold;
}
.best-seller-container .more {
  display: inline-block;
  text-decoration: underline;
  display: none;
  margin-top: 16px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(15px);
  transition: all 0.3s ease-in-out;
}
.best-seller-container li {
  margin: 8px 16px;
  padding: 8px 0;
  font-size: 18px;
  border-top: 1px solid #000;
  min-height: 80px;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.best-seller-container li:hover {
  opacity: 1;
}

.best-seller-container li:hover .more {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  display: block;
}
@media (max-width: 992px) {
  .category-list {
    width: 100%; /* Đặt chiều rộng cho slide */
    overflow-x: scroll; /* Thêm scroll cho category list */
    display: flex; /* Sử dụng flexbox để căn giữa các item con */
    justify-content: center;
    flex-wrap: nowrap;
    scroll-padding-left: 500px;
  }

  .category-item {
    flex: 0 0 auto; /* Đặt chiều rộng tự động cho các item con */
    margin: 0 10px; /* Khoảng cách giữa các item */
    text-align: center; /* Căn giữa nội dung trong mỗi item */
  }
  .category-item img {
    max-width: 100%; /* Đảm bảo ảnh không bị tràn khỏi container */
    height: 104px; /* Đảm bảo tỷ lệ khung hình cho ảnh */
  }
  .object-container {
    height: auto;
    display: block;
  }
  .main-object {
    width: 100%;
  }
  .sub-object {
    width: 100%;
  }
}
