<div class="container">
  <div class="slider">
    <slider [type]="'image'" [list]="images"></slider>
  </div>
  <div class="category-list">
    <div class="category-item">
      <a href="/products/phone">
        <img src="../assets/images/home/phone.png" alt="" />
        <p>Điện thoại</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/products/laptop">
        <img src="../assets/images/home/laptop.png" alt="" />
        <p>Laptop</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/products/keyboard">
        <img src="../assets/images/home/pc.png" alt="" />
        <p>Bàn phím</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/products/tablet">
        <img src="../assets/images/home/tablet.png" alt="" />
        <p>Máy tính bảng</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/products/earphone">
        <img src="../assets/images/home/pk.png" alt="" />
        <p>Phụ kiện</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/products/brand/apple">
        <img src="../assets/images/home/apple.png" alt="" />
        <p>Apple</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/products/brand/samsung">
        <img src="../assets/images/home/samsung.png" alt="" />
        <p>Samsung</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/products/brand/asus">
        <img src="../assets/images/home/asus.png" alt="" />
        <p>Asus</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/products/brand/acer">
        <img src="../assets/images/home/acer-logo.png" alt="" />
        <p>Acer</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/products/application">
        <img src="../assets/images/home/others.png" alt="" />
        <p>Khác</p>
      </a>
    </div>
  </div>
  <div class="title">
    <span>Sản Phẩm Nổi Bật </span>
  </div>
  <tabs>
    <tab tabTitle="Ưu đãi">
      <div class="object-container">
        <div class="main-object">
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/645741376e1c7c602d28a01a"
            >
              <img src="../assets/images/home/samsung.png" alt="" />
              <span class="object-heading"
                >Ưu đãi giá sốc - Thu cũ đổi mới</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
        </div>
        <div class="sub-object">
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/645741376e1c7c602d28a069"
            >
              <img
                src="http://localhost:5000/images/products/t1/slider1.jpg"
                alt=""
              />
              <span class="object-heading"
                >Samsung Galaxy Tab S6 Lite 2022</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/645741376e1c7c602d28a01a"
            >
              <img
                src="http://localhost:5000/images/products/l32/slider1.jpg"
                alt=""
              />
              <span class="object-heading"
                >Laptop MSI Creator Z16P B12UGST i7 12700H/32GB/2TB SSD/8GB
                RTX3070Ti</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/645741376e1c7c602d28a02b"
            >
              <img
                src="http://localhost:5000/images/products/l49/slider1.jpg"
                alt=""
              />
              <span class="object-heading"
                >Laptop Lenovo ThinkBook 14 G2 ITL i7 1165G7/8GB/512GB/Win10
                (20VD003LVN)</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/645741376e1c7c602d28a0cb"
            >
              <img
                src="http://localhost:5000/images/products/k14/slider1.jpg"
                alt=""
              />
              <span class="object-heading"
                >Bàn phím Logitech G PRO Mechanical Gaming Keyboard</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
        </div>
      </div>
    </tab>
    <tab tabTitle="Điện thoại">
      <div class="object-container">
        <div class="main-object">
          <div class="object">
            <a class="object-link" href="">
              <img src="../assets/images/home/phone.png" alt="" />
              <span class="object-heading"
                >Ưu đãi giá sốc - Thu cũ đổi mới</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
        </div>
        <div class="sub-object">
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/645741376e1c7c602d28a069"
            >
              <img
                src="http://localhost:5000/images/products/t1/slider1.jpg"
                alt=""
              />
              <span class="object-heading"
                >Samsung Galaxy Tab S6 Lite 2022</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/645741376e1c7c602d28a075"
            >
              <img
                src="http://localhost:5000/images/products/t13/slider1.jpg"
                alt=""
              />
              <span class="object-heading">iPad mini 6 WiFi Cellular 64GB</span>
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/645741376e1c7c602d28a02d"
            >
              <img
                src="http://localhost:5000/images/products/p1/slider1.jpg"
                alt=""
              />
              <span class="object-heading">iPhone 11 64GB</span>
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/645741376e1c7c602d28a034"
            >
              <img
                src="http://localhost:5000/images/products/p8/slider1.jpg"
                alt=""
              />
              <span class="object-heading">iPhone 14 128GB</span>
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
        </div>
      </div>
    </tab>
    <tab tabTitle="Laptop">
      <div class="object-container">
        <div class="main-object">
          <div class="object">
            <a class="object-link" href="http://localhost:5001/products/laptop">
              <img src="../assets/images/home/laptop.png" alt="" />
              <span class="object-heading"
                >Ưu đãi giá sốc - Thu cũ đổi mới</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
        </div>
        <div class="sub-object">
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/645741376e1c7c602d289ffb"
            >
              <img
                src="http://localhost:5000/images/products/l1/slider1.jpg"
                alt=""
              />
              <span class="object-heading"
                >Laptop Lenovo Ideapad 3 15IAU7 i3 1215U/8GB/256GB/Win11
                (82RK005LVN)</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/645741376e1c7c602d289ffd"
            >
              <img
                src="http://localhost:5000/images/products/l3/slider1.jpg"
                alt=""
              />
              <span class="object-heading"
                >Laptop Asus VivoBook 15X OLED A1503ZA i5 12500H/8GB/512GB/Win11
                (L1290W)</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/645741376e1c7c602d289ffe"
            >
              <img
                src="http://localhost:5000/images/products/l4/slider1.jpg"
                alt=""
              />
              <span class="object-heading"
                >Laptop Acer Aspire 3 A315 57 379K i3 1005G1/4GB/256GB/Win11
                (NX.KAGSV.001)</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/645741376e1c7c602d289fff"
            >
              <img
                src="http://localhost:5000/images/products/l5/slider1.jpg"
                alt=""
              />
              <span class="object-heading"
                >Laptop Apple MacBook Pro 16 M1 Pro 2021 10
                core-CPU/16GB/512GB/16 core-GPU (MK183SA/A)</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
        </div>
      </div>
    </tab>
    <tab tabTitle="Phụ kiện">
      <div class="object-container">
        <div class="main-object">
          <div class="object">
            <a class="object-link" href="/products/earphone">
              <img src="../assets/images/home/pk.png" alt="" />
              <span class="object-heading"
                >Ưu đãi giá sốc - Thu cũ đổi mới</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
        </div>
        <div class="sub-object">
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/645741376e1c7c602d28a087"
            >
              <img
                src="http://localhost:5000/images/products/e3/slider1.jpg"
                alt=""
              />
              <span class="object-heading"
                >Tai nghe Logitech G535 LIGHTSPEED Wireless Black</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/645741376e1c7c602d28a08a"
            >
              <img
                src="http://localhost:5000/images/products/e4/slider1.jpg"
                alt=""
              />
              <span class="object-heading"
                >Tai nghe Logitech G Pro X League Of Legends</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/645741376e1c7c602d28a08b"
            >
              <img
                src="http://localhost:5000/images/products/e5/slider1.jpg"
                alt=""
              />
              <span class="object-heading">Tai nghe Logitech G331</span>
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/645741376e1c7c602d28a08c"
            >
              <img
                src="http://localhost:5000/images/products/e6/slider1.jpg"
                alt=""
              />
              <span class="object-heading"
                >Tai nghe HyperX Cloud Stinger Core II</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
        </div>
      </div>
    </tab>
    <tab tabTitle="Sinh viên">
      <div class="object-container">
        <div class="main-object">
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/6453b22ac9f18452a989b0c7"
            >
              <img
                src="http://localhost:5000/images/products/l3/slider1.jpg"
                alt=""
              />
              <span class="object-heading"
                >Ưu đãi giá sốc - Thu cũ đổi mới</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
        </div>
        <div class="sub-object">
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/645741376e1c7c602d289ffd"
            >
              <img
                src="http://localhost:5000/images/products/l3/slider1.jpg"
                alt=""
              />
              <span class="object-heading"
                >Laptop Asus VivoBook 15X OLED A1503ZA i5 12500H/8GB/512GB/Win11
                (L1290W)</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/645741376e1c7c602d28a002"
            >
              <img
                src="http://localhost:5000/images/products/l8/slider1.jpg"
                alt=""
              />
              <span class="object-heading"
                >Laptop HP 15s fq2716TU i3 1115G4/8GB/512GB/Win11
                (7C0X3PA)</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/645741376e1c7c602d28a003"
            >
              <img
                src="http://localhost:5000/images/products/l9/slider1.jpg"
                alt=""
              />
              <span class="object-heading"
                >Laptop Dell Vostro 3510 i5 1135G7/8GB/512GB/2GB
                MX350/OfficeHS/Win11 (P112F002BBL)</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/645741376e1c7c602d28a004"
            >
              <img
                src="http://localhost:5000/images/products/l10/slider1.jpg"
                alt=""
              />
              <span class="object-heading"
                >Laptop HP 240 G9 i5 1235U/8GB/256GB/Win11 (6L1Y1PA)</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
        </div>
      </div>
    </tab>
  </tabs>
  <div class="title">
    <span>Sản Phẩm Bán Chạy</span>
  </div>
  <tabs>
    <tab tabTitle="Di Động">
      <div class="best-seller-container">
        <img src="../assets/images/home/phone.png" alt="" loading="lazy" />
        <ol>
          <li *ngFor="let p of topPhone">
            <a href="/product/{{ p._id }}">
              <span class="product-title">{{ p.productName }}</span>
              <span class="more">Tìm hiểu thêm</span>
            </a>
          </li>
        </ol>
      </div>
    </tab>
    <tab tabTitle="Laptop">
      <div class="best-seller-container">
        <img src="../assets/images/home/laptop.png" alt="" loading="lazy" />
        <ol>
          <li *ngFor="let p of topLaptop">
            <a href="/product/{{ p._id }}">
              <span class="product-title">{{ p.productName }}</span>
              <span class="more">Tìm hiểu thêm</span>
            </a>
          </li>
        </ol>
      </div>
    </tab>
    <tab tabTitle="Phụ Kiện">
      <div class="best-seller-container">
        <img src="../assets/images/home/pc.png" alt="" loading="lazy" />
        <ol>
          <li *ngFor="let p of topKeyboard">
            <a href="/product/{{ p._id }}">
              <span class="product-title">{{ p.productName }}</span>
              <span class="more">Tìm hiểu thêm</span>
            </a>
          </li>
        </ol>
      </div>
    </tab>
    <tab tabTitle="Khác">
      <div class="best-seller-container">
        <img src="../assets/images/home/pk.png" alt="" loading="lazy" />
        <ol>
          <li *ngFor="let p of topEarphone">
            <a href="/product/{{ p._id }}">
              <span class="product-title">{{ p.productName }}</span>
              <span class="more">Tìm hiểu thêm</span>
            </a>
          </li>
        </ol>
      </div>
    </tab>
  </tabs>
</div>
