<div class="container">
  <div class="slider">
    <slider [type]="'image'" [list]="images"></slider>
  </div>
  <div class="category-list">
    <div class="category-item">
      <a href="/products/phone">
        <img src="../assets/images/home/phone.png" alt="" />
        <p>Điện thoại</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/products/laptop">
        <img src="../assets/images/home/laptop.png" alt="" />
        <p>Laptop</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/products/keyboard">
        <img src="../assets/images/home/pc.png" alt="" />
        <p>Bàn phím</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/products/tablet">
        <img src="../assets/images/home/tablet.png" alt="" />
        <p>Máy tính bảng</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/products/earphone">
        <img src="../assets/images/home/pk.png" alt="" />
        <p>Phụ kiện</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/products/brand/apple">
        <img src="../assets/images/home/apple.png" alt="" />
        <p>Apple</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/products/brand/samsung">
        <img src="../assets/images/home/samsung.png" alt="" />
        <p>Samsung</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/products/brand/asus">
        <img src="../assets/images/home/asus.png" alt="" />
        <p>Asus</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/products/brand/acer">
        <img src="../assets/images/home/acer-logo.png" alt="" />
        <p>Acer</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/products/application">
        <img src="../assets/images/home/others.png" alt="" />
        <p>Khác</p>
      </a>
    </div>
  </div>
  <div class="title">
    <span>Sản Phẩm Nổi Bật </span>
  </div>
  <tabs>
    <tab tabTitle="Ưu đãi">
      <div class="object-container">
        <div class="main-object">
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/{{ discountAll[0].id }}"
            >
              <img src="../assets/images/home/samsung.png" alt="" />
              <span class="object-heading"
                >Ưu đãi giá sốc - Thu cũ đổi mới</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
        </div>
        <div class="sub-object">
          <ng-container *ngFor="let product of discountAll.slice(1, 5)">
            <div class="object">
              <a
                class="object-link"
                href="http://localhost:5001/product/{{ product.id }}"
              >
                <img
                  src="http://localhost:5000/images/{{
                    product.productImage[0]
                  }}"
                  alt=""
                />
                <span class="object-heading">{{ product.productName }}</span>
                <span class="object-description"
                  >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến
                  3 triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
                >
              </a>
            </div>
          </ng-container>
        </div>
      </div>
    </tab>
    <tab tabTitle="Điện thoại">
      <div class="object-container">
        <div class="main-object">
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/{{ discountPhone[0].id }}"
            >
              <img
                src="http://localhost:5000/images/{{
                  discountPhone[0].productImage[0]
                }}"
                alt=""
              />
              <span class="object-heading"
                >Ưu đãi giá sốc - Thu cũ đổi mới</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
        </div>
        <div class="sub-object">
          <ng-container *ngFor="let product of discountPhone.slice(1, 5)">
            <div class="object">
              <a
                class="object-link"
                href="http://localhost:5001/product/{{ product.id }}"
              >
                <img
                  src="http://localhost:5000/images/{{
                    product.productImage[0]
                  }}"
                  alt=""
                />
                <span class="object-heading">{{ product.productName }}</span>
                <span class="object-description"
                  >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến
                  3 triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
                >
              </a>
            </div>
          </ng-container>
        </div>
      </div>
    </tab>
    <tab tabTitle="Laptop">
      <div class="object-container">
        <div class="main-object">
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/{{ discountLaptop[0].id }}"
            >
              <img
                src="http://localhost:5000/images/{{
                  discountLaptop[0].productImage[0]
                }}"
                alt=""
              />
              <span class="object-heading"
                >Ưu đãi giá sốc - Thu cũ đổi mới</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
        </div>
        <div class="sub-object">
          <ng-container *ngFor="let product of discountLaptop.slice(1, 5)">
            <div class="object">
              <a
                class="object-link"
                href="http://localhost:5001/product/{{ product.id }}"
              >
                <img
                  src="http://localhost:5000/images/{{
                    product.productImage[0]
                  }}"
                  alt=""
                />
                <span class="object-heading">{{ product.productName }}</span>
                <span class="object-description"
                  >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến
                  3 triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
                >
              </a>
            </div>
          </ng-container>
        </div>
      </div>
    </tab>
    <tab tabTitle="Phụ Kiện">
      <div class="object-container">
        <div class="main-object">
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/{{ discountEarphone[0].id }}"
            >
              <img
                src="http://localhost:5000/images/{{
                  discountEarphone[0].productImage[0]
                }}"
                alt=""
              />
              <span class="object-heading"
                >Ưu đãi giá sốc - Thu cũ đổi mới</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
        </div>
        <div class="sub-object">
          <ng-container *ngFor="let product of discountEarphone.slice(1, 5)">
            <div class="object">
              <a
                class="object-link"
                href="http://localhost:5001/product/{{ product.id }}"
              >
                <img
                  src="http://localhost:5000/images/{{
                    product.productImage[0]
                  }}"
                  alt=""
                />
                <span class="object-heading">{{ product.productName }}</span>
                <span class="object-description"
                  >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến
                  3 triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
                >
              </a>
            </div>
          </ng-container>
        </div>
      </div>
    </tab>
    <tab tabTitle="Sinh Viên">
      <div class="object-container">
        <div class="main-object">
          <div class="object">
            <a
              class="object-link"
              href="http://localhost:5001/product/{{ tagSinhVien[0].id }}"
            >
              <img
                src="http://localhost:5000/images/{{
                  tagSinhVien[0].productImage[0]
                }}"
                alt=""
              />
              <span class="object-heading"
                >Ưu đãi giá sốc - Thu cũ đổi mới</span
              >
              <span class="object-description"
                >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến 3
                triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
              >
            </a>
          </div>
        </div>
        <div class="sub-object">
          <ng-container *ngFor="let product of tagSinhVien.slice(1, 5)">
            <div class="object">
              <a
                class="object-link"
                href="http://localhost:5001/product/{{ product.id }}"
              >
                <img
                  src="http://localhost:5000/images/{{
                    product.productImage[0]
                  }}"
                  alt=""
                />
                <span class="object-heading">{{ product.productName }}</span>
                <span class="object-description"
                  >Chương trình trợ giá hấp dẫn, thu cũ đổi mới trợ giá lên đến
                  3 triệu đồng. Đừng bỏ lỡ cơ hội!!!</span
                >
              </a>
            </div>
          </ng-container>
        </div>
      </div>
    </tab>
  </tabs>
  <div class="title">
    <span>Sản Phẩm Bán Chạy</span>
  </div>
  <tabs>
    <tab tabTitle="Di Động">
      <div class="best-seller-container">
        <img src="../assets/images/home/phone.png" alt="" loading="lazy" />
        <ol>
          <li *ngFor="let p of topPhone">
            <a href="/product/{{ p._id }}">
              <span class="product-title">{{ p.productName }}</span>
              <span class="more">Tìm hiểu thêm</span>
            </a>
          </li>
        </ol>
      </div>
    </tab>
    <tab tabTitle="Laptop">
      <div class="best-seller-container">
        <img src="../assets/images/home/laptop.png" alt="" loading="lazy" />
        <ol>
          <li *ngFor="let p of topLaptop">
            <a href="/product/{{ p._id }}">
              <span class="product-title">{{ p.productName }}</span>
              <span class="more">Tìm hiểu thêm</span>
            </a>
          </li>
        </ol>
      </div>
    </tab>
    <tab tabTitle="Phụ Kiện">
      <div class="best-seller-container">
        <img src="../assets/images/home/pc.png" alt="" loading="lazy" />
        <ol>
          <li *ngFor="let p of topKeyboard">
            <a href="/product/{{ p._id }}">
              <span class="product-title">{{ p.productName }}</span>
              <span class="more">Tìm hiểu thêm</span>
            </a>
          </li>
        </ol>
      </div>
    </tab>
    <tab tabTitle="Khác">
      <div class="best-seller-container">
        <img src="../assets/images/home/pk.png" alt="" loading="lazy" />
        <ol>
          <li *ngFor="let p of topEarphone">
            <a href="/product/{{ p._id }}">
              <span class="product-title">{{ p.productName }}</span>
              <span class="more">Tìm hiểu thêm</span>
            </a>
          </li>
        </ol>
      </div>
    </tab>
  </tabs>
</div>
