.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
map {
  position: relative;
}
.header h1 {
  margin-bottom: 12px;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

.list-products {
  width: 65%;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  text-align: inherit;
  padding: 12px;
}

.table td {
  padding: 12px;
  border-bottom: 1px solid #dee2e6;
  vertical-align: middle;
}

.image-item {
  width: 10%;
}

.image-item img {
  width: 100px;
  transition: 0.3s;
}

.image-item img:hover {
  transform: scale(1.15);
}

.name-item {
  width: 40%;
}

.text-link {
  transition: 0.3s;
}

.price-item,
.into-money {
  font-weight: bold;
}

input[type="number"] {
  height: 35px;
  width: 55px;
  text-align: center;
  border: 1px solid #f5f7ff;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f5f7ff;
}

input[type="number"]:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  opacity: 0.5;
}

.delete-item {
  cursor: pointer;
  transition: 0.2s;
  padding: 12px 8px;
}

.delete-item:hover {
  background-color: #444;
  color: #fff;
}

.cart-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #444;
  margin: 20px 0;
}

.cart-empty img {
  height: 340px;
}

.button {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-bottom: 8px;
}

.btn-continue-shopping,
.btn-delete-all {
  width: 180px;
  height: 37px;
  border-radius: 50px;
}

.btn-continue-shopping {
  background-color: white;
  color: #a2a6b0;
  border: #a2a6b0 2px solid;
}

.btn-continue-shopping:hover {
  cursor: pointer;
  animation: jump 0.5s ease-in-out;
}

.btn-delete-all {
  background-color: black;
  color: white;
}

.btn-delete-all:hover {
  cursor: pointer;
  animation: jump 0.5s ease-in-out;
}

.content-customer-payment {
  background-color: #f5f7ff;
  padding: 16px;
}

.customer-information h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px;
}

.form-row:nth-child(6) {
  margin-bottom: 8px;
}

.form-row label {
  margin-bottom: 10px;
}

.form-row input[type="text"] {
  padding: 12px 16px;
  border: #a2a6b0 1px solid;
  border-radius: 4px;
}

.form-row input[type="text"]:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  border-color: #80bdff;
  outline: none;
}

.form-row label {
  font-weight: bold;
}

.error-message {
  display: none;
  color: red;
  font-style: italic;
  margin-top: 5px;
}

.form-select {
  padding: 12px;
  border: #a2a6b0 1px solid;
  border-radius: 4px;
  outline: none;
}

.form-select:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  border-color: #80bdff;
  outline: none;
}

.compulsory-red {
  color: red;
  font-weight: bold;
}

.free-shipping {
  color: #04b500;
  font-weight: bold;
}

.select-payment-method h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.payment-method-row {
  margin-bottom: 10px;
}

.payment-method-row label {
  cursor: pointer;
}

input[type="radio"] {
  margin-left: 0;
  margin-right: 6px;
  border: 1px solid #0156ff;
  cursor: pointer;
}

.apply-promo-code {
  background-color: #f5f7ff;
  padding: 12px;
  margin-top: 20px;
  border-radius: 50px;
  border: #0156ff 2px solid;
  color: #0156ff;
  font-weight: bold;
}

.apply-promo-code:hover {
  cursor: pointer;
}

.total-payment {
  border-top: #cacdd8 1px solid;
}

.total-payment-row {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 12px;
}

.lable-total-amount-paid,
.total-amount-paid {
  font-size: 20px;
}

.total-amount-paid {
  color: red;
}

.make-payment {
  color: #f5f7ff;
  padding: 12px;
  margin-top: 20px;
  border-radius: 50px;
  border: #0156ff 2px solid;
  background-color: #0156ff;
  font-weight: bold;
  width: 100%;
}

.make-payment:hover {
  cursor: pointer;
}

/* Modal */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  padding-top: 120px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(217, 217, 217, 0.8);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  width: 40%;
  padding: 20px 40px;
  border-radius: 30px;
}

.modal-heading,
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.thanks-for {
  font-weight: bold;
  font-size: 28px;
  margin: 10px 0;
}

.notify-mayment,
.notify-total-payment {
  font-size: 22px;
  margin-bottom: 10px;
}
.notify-mayment .payment-method {
  color: red;
}

.VND {
  color: red;
}

.modal-content .close-popup {
  background-color: #0156ff;
  border: #0156ff;
  border-radius: 10px;
  width: 100px;
  height: 25px;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}

.auto-close {
  font-size: 12px;
}

input[type="checkbox"] {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  margin-right: 4px;
}

.invalid-input {
  border-color: red;
}

.confirm-order-btn {
  background-color: #4caf50; /* màu nền của nút */
  border: none; /* bỏ viền */
  color: white; /* màu chữ */
  padding: 10px 20px; /* độ rộng và chiều cao của nút */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer; /* con trỏ chuột khi hover vào */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.14); /* đổ bóng cho nút */
  transition: box-shadow 0.2s ease-in-out; /* hiệu ứng transition */
}

.confirm-order-btn:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px -2px rgba(0, 0, 0, 0.12),
    0 3px 14px 2px rgba(0, 0, 0, 0.14); /* đổ bóng lớn hơn khi hover vào */
}

.confirm-order-btn:active {
  box-shadow: none; /* bỏ đổ bóng khi nút được nhấn */
  transform: translateY(1px); /* di chuyển nút xuống 1px khi nhấn */
}
