.container {
  margin-top: 50px;
}

.card {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 20px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
#notification {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.modal {
  background-color: white;
  max-width: 500px;
  height: 200px;
  position: relative;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-top: 50px; */
}
.modal p {
  font-size: 18px;
  color: #333;
  margin: 5px 5px;
  line-height: 1.5;
}
.modal button {
  width: 20%;
  background-color: #2f3192;
  color: #fff;
  border-radius: 5px;
  border: none;
  margin: 16px 0;
  padding: 16px 0;
}
.modal button:hover {
  background-color: #4f50a4;
  cursor: pointer;
}
