<div class="container">
  <h1>Đổi mật khẩu</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label class="bold blue mt-2" for="currentPassword"
              >Mật khẩu hiện tại</label
            >
            <input
              type="password"
              class="form-control"
              id="currentPassword"
              [(ngModel)]="currentPassword"
            />
            <div *ngIf="!currentValid" class="invalid red">
              Vui lòng nhập mật khẩu hiện tại
            </div>
          </div>
          <div class="form-group">
            <label class="bold blue mt-2" for="newPassword">Mật khẩu mới</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              [(ngModel)]="newPassword"
            />
            <div *ngIf="!newValid" class="invalid red">
              Vui lòng nhập mật khẩu mới
            </div>
          </div>
          <div class="form-group">
            <label class="bold blue mt-2" for="confirmPassword"
              >Xác nhận mật khẩu mới</label
            >
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              [(ngModel)]="confirmPassword"
            />
            <div *ngIf="!confirmValid" class="invalid red">
              Vui lòng nhập mật khẩu xác nhận mới
            </div>
            <div *ngIf="!matchValid" class="invalid red">
              Mật khẩu xác nhận không khớp!
            </div>
          </div>
          <div class="mt-4">
            <button
              class="btn btn-primary btn-block"
              (click)="changePassword()"
            >
              Đổi mật khẩu
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="notification" style="display: none">
  <div class="modal">
    <p>{{ message }}</p>
    <button (click)="logout()">Ok</button>
  </div>
</div>
