<div class="container">
  <div class="header">
    <div class="header-left">
      <p>Danh sách đơn hàng</p>
    </div>
    <div class="header-right">
      <a href="" class="icon-style"><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></a>
      <a href="" class="icon-style"><i class="fa-sharp fa-regular fa-circle-exclamation" style="color: #000000;"></i></a>
      <a href="" class="icon-style" style="font-size: 24px;"><span>|</span></a>
      <a href="" class="icon-style"><p>BlueSpace</p></a>
      <a href="" class="icon-style"><p>BS</p></a>
      <a href="" class="icon-style"><i class="fa-regular fa-envelope"></i> Góp ý</a>
    </div>
  </div>
  <div class="main">
    <div class="main-header">
      <div class="title">
        <h1>Danh sách đơn hàng</h1>
      </div>
      <div class="action">
        <button id="btn-create" onclick="document.getElementById('Create').style.display='block'"><i class="fa-solid fa-plus" style="color: #ffffff;"></i> Sửa đơn hàng</button>
        <button><i class="fa-solid fa-check" style="color: #ffffff;"></i> Hoàn thành</button>
        <button><i class="fa-solid fa-minus" style="color: #ffffff;"></i> Xóa</button>

      </div>
    </div>
    <div class="nav-main">
      <div class="nav-items" id="all-customers" (click)="showallOrders()"><a>Tất cả đơn hàng</a></div>
      <div class="nav-items" (click)="showcompletedOrders()"><a>Đơn hàng đã hoàn thành</a></div>
      <div class="nav-items" (click)="showuncompletedOrders()"><a>Đơn hàng chưa hoàn thành</a></div>
    </div>
    <div class="function">
      <div class="filter">
        <select id="category-select">
          <option value="all"><i class="fa-solid fa-filter"></i> Thêm điều kiện lọc</option>
          <option value="category1">Ngày</option>
          <option value="category2">Đã thanh toán</option>
          <option value="category2">Chưa thanh toán</option>
        </select>
      </div>
      <div class="search-container">
        <form action="#">
          <input type="text" placeholder="Tìm kiếm...">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
    <div class="main-content" *ngIf="allOrders">
      <table>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Tên đơn hàng</th>
          <th>Địa chỉ</th>
          <th>Màu</th>
          <th>Số lượng</th>
          <th>Giảm giá</th>
          <th>Tổng tiền</th>
          <th>Trạng thái</th>
          <th>Thanh toán</th>
          <th>Ngày đặt hàng</th>
        </tr>
        <tr *ngFor="let order of orders">
          <td><input type="checkbox" id="option1" name="option1" value="option1"></td>
          <td>{{order.OrderID}}</td>
          <td>{{order.OrderName}}</td>
          <td>{{order.Address}}</td>
          <td>{{order.Color}}</td>
          <td>{{order.Quantity}}</td>
          <td>{{order.Discount}}%</td>
          <td>{{order.TotalPrice}}</td>
          <td>{{order.Status}}</td>
          <td>{{order.PayMent}}</td>
          <td>{{order.Date}}</td>
        </tr>
      </table>
    </div>
    <div class="main-content" *ngIf="completedOrders">
      <table>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Tên đơn hàng</th>
          <th>Địa chỉ</th>
          <th>Màu</th>
          <th>Số lượng</th>
          <th>Giảm giá</th>
          <th>Tổng tiền</th>
          <th>Trạng thái</th>
          <th>Thanh toán</th>
          <th>Ngày đặt hàng</th>
        </tr>
        <tr *ngFor="let completedorder of completedorders">
          <td><input type="checkbox" id="option1" name="option1" value="option1"></td>
          <td>{{completedorder.OrderID}}</td>
          <td>{{completedorder.OrderName}}</td>
          <td>{{completedorder.Address}}</td>
          <td>{{completedorder.Color}}</td>
          <td>{{completedorder.Quantity}}</td>
          <td>{{completedorder.Discount}}%</td>
          <td>{{completedorder.TotalPrice}}</td>
          <td>{{completedorder.Status}}</td>
          <td>{{completedorder.PayMent}}</td>
          <td>{{completedorder.Date}}</td>
        </tr>
      </table>
    </div>
    <div class="main-content" *ngIf="uncompletedOrders">
      <table>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Tên đơn hàng</th>
          <th>Địa chỉ</th>
          <th>Màu</th>
          <th>Số lượng</th>
          <th>Giảm giá</th>
          <th>Tổng tiền</th>
          <th>Trạng thái</th>
          <th>Thanh toán</th>
          <th>Ngày đặt hàng</th>
        </tr>
        <tr *ngFor="let uncompletedorder of uncompletedorders">
          <td><input type="checkbox" id="option1" name="option1" value="option1"></td>
          <td>{{uncompletedorder.OrderID}}</td>
          <td>{{uncompletedorder.OrderName}}</td>
          <td>{{uncompletedorder.Address}}</td>
          <td>{{uncompletedorder.Color}}</td>
          <td>{{uncompletedorder.Quantity}}</td>
          <td>{{uncompletedorder.Discount}}%</td>
          <td>{{uncompletedorder.TotalPrice}}</td>
          <td>{{uncompletedorder.Status}}</td>
          <td>{{uncompletedorder.PayMent}}</td>
          <td>{{uncompletedorder.Date}}</td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="pagination">
    <a href="#" class="prev"><i class="fas fa-chevron-left"></i></a>
    <a href="#" class="page">1</a>
    <a href="#" class="page">2</a>
    <a href="#" class="page">3</a>
    <a href="#" class="next"><i class="fas fa-chevron-right"></i></a>
  </div>
  <div id="Create" style="display:none" >
    <div class="modal-content" id="modal-content">
      <div class="modal-header">
        <h3>Thông tin đơn hàng</h3>
        <button id="btn-close" onclick="document.getElementById('Create').style.display='none'"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="modal-body">
        <div class="modal-search-box">
          <h4>Đơn hàng</h4>
          <form>
            <input type="text" placeholder="Nhập ID của đơn hàng...">
            <button>Chọn</button>
          </form>
        </div>
        <div class="modal-pay">
          <h4>Thay đổi đơn hàng</h4>
          <form>
            <div class="pay-right">
              <h4>Ghi chú đơn hàng</h4>
              <input type="text" placeholder="Nhập ghi chú thay đổi tại đây...">
            </div>
            <div class="pay-left">
              <table>
                <tr>
                  <td>Số lượng sản phẩm</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Tổng tiền hàng</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td><span class="blue">Giảm giá</span></td>
                  <td>0</td>
                </tr>
                <tr>
                  <td><span class="blue">Phí vận chuyển</span></td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Phải thu</td>
                  <td>0</td>
                </tr>
              </table>
            </div>
          </form>
        </div>
        <div class="modal-button">
          <button>Đã thanh toán</button>
          <button>Thanh toán sau</button>
        </div>
      </div>
    </div>
  </div>
</div>
