<!-- <p>faq4 works!</p> -->
<div class="container">
    <table>
        <td class="left">
            <div class="user-form">
                <summary><a href="Home" class="link">Trang chủ </a> > <a href="*" class="link">Chính sách và dịch vụ</a></summary>
                <div class="faq-title">
                    <h1>Các chính sách và dịch vụ</h1>
                    <h2>Câu hỏi thường gặp</h2>
                </div>
                <img src="./assets/Question.jpg" class="img-center">
                <div class="faq-body" *ngFor="let f4 of faq4">
                    <span class="faq-small-title" [innerHTML]="f4.title"></span>
                    <span class="faq-content" [innerHTML]="f4.description"></span>
                </div>
            </div>
        </td>
        <td class="topright">
            <div class="user-form">
                <form>
                    <div class="box">
                        <a href="http://localhost:4200/baomat" class="link">Chính sách bảo mật</a> <br>
                        <a href="http://localhost:4200/doitra" class="link">Chính sách đổi trả</a> <br>
                        <a href="http://localhost:4200/baohanh" class="link">Chính sách bảo hành</a> <br>
                        <b><a href="http://localhost:4200/thuonggap" class="link">Chính sách thường gặp</a></b>
                    </div>
                </form>
            </div>
        </td>
    </table>
</div>
        