* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100%;
  position: fixed;
  background-color: #2e3193;
  padding: 10px;
  width: 20%;
  max-width: 250px;
  left: 0;
  bottom: 0;
  top: 0;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 16px 0;
  margin-left: 20px;
  transition: 0.3s;
}
li ul {
  display: none;
  padding-left: 20px;
  padding-top: 10px;
  transition: 0.3s;
}

li:hover ul {
  display: block;

  /* left: 100%; */
}

.icon {
  margin-right: 20px;
  float: left;
  width: 20px;
  height: 20px;
}

a {
  color: #d9d9d9;
  text-decoration: none;
  /* margin-left: 20px; */
  font-size: 12px;
}
.nav-admin {
  display: flex;
}
.nav-left {
  float: left;
}

.nav-li {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 100px;
  color: #d9d9d9;
}

/* .nav-right :hover {
  transform: rotate(90deg);
} */

.nav-item .nav-li .nav-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.nav-item:hover .nav-right {
  transform: rotate(90deg);
}

.nav-item ul li a:hover {
  font-weight: bolder;
}

.nav-item ul {
  margin-left: 8px;
  transform: 0.3s;
}
