<div class="container" *ngIf="isAdmin">
  <div class="logo">
    <img src="../assets/images/logo.png" alt="" width="250px" />
  </div>
  <div class="nav-admin">
    <div class="nav-left">
      <ul>
        <li class="nav-item">
          <span class="icon"
            ><i class="fa-solid fa-cart-shopping" style="color: #fff"></i
          ></span>
          <a class="nav-li" routerLink="/orders"
            >Đơn hàng
            <span class="nav-right"
              ><i
                class="fa-solid fa-chevron-right"
                style="color: #fff"
              ></i></span
          ></a>
          <ul>
            <li><a href="">Tất cả đơn hàng</a></li>
            <li><a href="">Đơn hàng đã hoàn thành</a></li>
            <li><a href="">Đơn hàng chưa hoàn thành</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <span class="icon"
            ><i class="fa-solid fa-tag" style="color: #fff"></i
          ></span>
          <a class="nav-li" href=""
            >Sản phẩm
            <span class="nav-right"
              ><i
                class="fa-solid fa-chevron-right"
                style="color: #fff"
              ></i></span
          ></a>
          <ul>
            <li><a routerLink="/admin-product">Tất sản phẩm</a></li>
            <li>
              <a routerLink="/admin-product-category">Nhóm sản phẩm</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <span class="icon"
            ><i class="fa-regular fa-circle-user" style="color: #fff"></i
          ></span>
          <a class="nav-li" routerLink="/list-customers"
            >Khách hàng
            <span class="nav-right"
              ><i
                class="fa-solid fa-chevron-right"
                style="color: #fff"
              ></i></span
          ></a>
          <ul>
            <li><a href="">Tất cả khách hàng</a></li>
            <li><a href="">Khách hàng tiềm năng</a></li>
            <li><a href="">Khách hàng thân thiết</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <span class="icon"
            ><i class="fa-regular fa-note-sticky" style="color: #fff"></i
          ></span>
          <a class="nav-li" routerLink="/reports">Báo cáo</a>
        </li>
        <li class="nav-item">
          <span class="icon"
            ><i class="fa-solid fa-shield-halved" style="color: #fff"></i
          ></span>
          <a class="nav-li" routerLink="/policy">Chính sách bảo mật</a>
        </li>
        <li class="nav-item">
          <span class="icon"></span>
          <a href="" class="nav-li" (click)="logout()">Đăng xuất</a>
        </li>
      </ul>
    </div>
    <!-- <div class="nav-right">
      <ul>
        <li><a href=""><i class="fa-solid fa-chevron-right" style="color: #fff;"></i></a></li>
        <li><a href=""><i class="fa-solid fa-chevron-right" style="color: #fff;"></i></a></li>
        <li><a href=""><i class="fa-solid fa-chevron-right" style="color: #fff;"></i></a></li>
        <li></li>
        <li></li>
      </ul>
    </div> -->
  </div>
</div>
