<div class="container mt-4">
  <button (click)="goBack()" type="button" class="btn btn-link">Go back</button>

  <table class="table mt-4">
    <thead>
      <th></th>
      <th>Tên sản phẩm</th>
      <th>Loại sản phẩm</th>
      <th>Thương hiệu</th>
      <th>Giá</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let p of deletedProduct">
        <td class="product-image">
          <img
            [src]="'http://localhost:5000/images/' + p.productImage[0]"
            style="width: 100px"
          />
        </td>
        <td class="product-name">
          {{ p.productName }}
        </td>
        <td class="product-category">Laptop</td>
        <td class="product-brand">{{ p.productBrand }}</td>
        <td class="product-price">
          {{
            p.productPrice.toLocaleString("vi", {
              style: "currency",
              currency: "VND"
            })
          }}
        </td>
        <td>
          <button
            type="button"
            class="btn btn-link btn-remove"
            (click)="restoreProduct(p.id)"
          >
            Khôi phục
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-link btn-remove"
            (click)="showModal(p.id)"
          >
            Xóa vĩnh viễn
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Confirm delete course -->
<div id="delete-course-modal" class="modal" *ngIf="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Xóa sản phẩm?</h5>
    </div>
    <div class="modal-body">Bạn chắc chắn muốn xóa sản phẩm này?</div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
        (click)="hideModal()"
      >
        Hủy
      </button>
      <button
        id="btn-delete-course"
        type="button"
        class="btn btn-danger"
        (click)="permanentDeleteProduct(selectedDeleteProduct)"
      >
        Xóa sản phẩm
      </button>
    </div>
  </div>
</div>
