<div class="container">
  <div class="c-row">
    <div class="product-title">
      {{ product.productName }}
    </div>
    <div class="product-rating">
      <div class="c-row">
        <stars-rating
          class="stars-rating"
          [rating]="product.ratingPoint || 0"
          [maxRating]="5"
          [isReadOnly]="true"
        ></stars-rating>
        <a href="">Đánh giá({{ product.numberReview }})</a>
      </div>
      <div>
        <a href="">Lượt mua ({{ product.numberReview }})</a>
      </div>
    </div>
  </div>
  <div class="c-row">
    <div class="slider">
      <slider [type]="'image'" [list]="product.productImage"></slider>
      <div class="color">
        <label for="">Màu sắc</label>
        <select name="" id="" (change)="getColor($event)">
          <option value="" disabled selected hidden>--Màu sắc--</option>
          <ng-container *ngFor="let c of product.specifications.color">
            <option [ngValue]="c">{{ c }}</option>
          </ng-container>
        </select>
      </div>
    </div>
    <div class="product-info">
      <div>
        <span class="price">{{
          (
            product.productPrice -
            (product.productPrice * product.productDiscount) / 100
          ).toLocaleString("vi", { style: "currency", currency: "VND" })
        }}</span>
        <span class="price-discount">{{
          product.productPrice.toLocaleString("vi", {
            style: "currency",
            currency: "VND"
          })
        }}</span>
      </div>
      <div class="info">
        <ul>
          <li *ngFor="let spec of product.specifications | keyvalue">
            {{ VietnameseKey[spec.key] }}: {{ spec.value }}
          </li>
        </ul>
        <div>
          <span class="bold">Bạn có câu hỏi nào?</span> &nbsp;
          <span
            ><a href="mailto:lelam2002@gmail.com" class="blue underline"
              >Liên hệ chúng tôi</a
            ></span
          >
        </div>
        <div class="c-row">
          <div class="action">
            <button>
              <a href="mailto:lelam2002@gmail.com"
                ><i class="fa-regular fa-envelope fa-fade"></i
              ></a>
            </button>
            <button class="compare-btn" (click)="openPopup()">
              <i class="fa-solid fa-plus"></i> So sánh
            </button>
          </div>
          <div class="buy">
            <div class="info">
              Thanh toán online <br />
              Giảm ngay <span class="bold">3.000.000đ</span>
            </div>
            <input type="number" value="1" [(ngModel)]="quantity" />
            <button (click)="addToCart(product, quantity)">
              Thêm giỏ hàng
            </button>
            <button>Mua ngay</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="combo-container">
  <div class="container">
    <div class="combo">
      <div>
        <button class="buy" (click)="toggleCollapsed()">
          <span *ngIf="show == false">+</span>
          <span *ngIf="show">-</span> Mua theo combo
        </button>
      </div>
      <div class="combo-list" [ngClass]="{ active: show }">
        <div class="combo-item" *ngFor="let p of comboProduct">
          <a href="http://localhost:5001/product/{{ p.id }}">
            <div class="product">
              <div class="img">
                <img
                  src="http://localhost:5000/images/{{ p.productImage[0] }}"
                  alt=""
                />
              </div>
              <div>
                <span>{{ p.productName }}</span>
                <div>
                  <span class="red">{{
                    p.productPrice.toLocaleString("vi", {
                      style: "currency",
                      currency: "VND"
                    })
                  }}</span>
                </div>
              </div>
            </div>
          </a>
          <div class="add-to-cart">
            <button class="add-to-cart-btn" (click)="addToCart(p, 1)">
              Thêm giỏ hàng
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="description" [innerHTML]="product.description"></div>
</div>

<div *ngIf="popUp" class="popup-container" (click)="onPopupClick($event)">
  <div class="popup">
    <button class="close-btn" (click)="closePopup()">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <h3>Nhập tên sản phẩm để so sánh</h3>
    <input type="text" [(ngModel)]="searchTerm" (input)="getProductCompare()" />
    <div class="recomendation">
      <ng-container *ngFor="let suggestion of suggestions">
        <div class="suggestion" (click)="compare(suggestion._id)">
          <img
            width="36px"
            height="36px"
            src="http://localhost:5000/images/{{ suggestion.productImage[0] }}"
            alt=""
          />
          {{ suggestion.productName }}
        </div>
      </ng-container>
    </div>
  </div>
</div>
