<div class="container-register">
  <h1 class="heading">TẠO TÀI KHOẢN BLUESPACE</h1>
  <div class="form-login">
    <div class="form-row">
      <div class="form-group">
        <div class="title-input">
          <label for="">Họ và tên đệm </label>
          <span>(*)</span>
        </div>
        <input
          type="text"
          class="form-control"
          id="fname"
          [(ngModel)]="fname"
        />
      </div>
      <div class="form-group">
        <div class="title-input">
          <label for="">Tên </label>
          <span>(*)</span>
        </div>
        <input
          type="text"
          class="form-control"
          id="lname"
          [(ngModel)]="lname"
        />
        <div *ngIf="!name" class="attention">*Vui lòng nhập tên</div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <div class="title-input">
          <label for="">Địa chỉ email</label>
          <span>(*)</span>
        </div>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="user.email"
          (input)="validateEmail()"
        />
        <div *ngIf="!email" class="attention">*Nhập đúng định dạng email</div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <div class="title-input">
          <label for="">Địa chỉ: </label>
        </div>
        <input type="text" class="form-control" [(ngModel)]="user.address" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <div class="title-input">
          <label for="">Mật khẩu </label>
          <span>(*)</span>
        </div>
        <input
          type="password"
          class="form-control"
          id="password-input"
          [(ngModel)]="user.password"
        />
        <div
          class="icon-eye"
          (click)="showHidePasswordInput()"
          id="eye-show-password"
        >
          <i class="fa-solid fa-eye"></i>
        </div>
        <div
          class="icon-eye active"
          (click)="showHidePasswordInput()"
          id="eye-hide-password"
        >
          <i class="fa-solid fa-eye-slash"></i>
        </div>
      </div>
      <div class="form-group">
        <div class="title-input">
          <label for="">Xác nhận lại mật khẩu </label>
          <span>(*)</span>
        </div>
        <input
          type="password"
          class="form-control"
          id="retypepassword-input"
          [(ngModel)]="user.confirmPassword"
        />
        <div
          class="icon-eye"
          id="eye-show-retypepassword"
          (click)="showHideRetypePasswordInput()"
        >
          <i class="fa-solid fa-eye"></i>
        </div>
        <div
          class="icon-eye active"
          id="eye-hide-retypepassword"
          (click)="showHideRetypePasswordInput()"
        >
          <i class="fa-solid fa-eye-slash"></i>
        </div>
        <div *ngIf="!password" class="attention">Mật khẩu không khớp</div>
      </div>
    </div>
  </div>

  <div class="container-policy-register">
    <div class="agree-register">
      Bấm vào Đăng ký, nếu bạn đồng ý với chúng tôi về
    </div>
    <div class="service-privacy">
      <span class="attention">Điều khoản dịch vụ</span> và
      <span class="attention">Chính sách bảo mật</span>
    </div>

    <button class="register-btn" (click)="register()">Đăng ký</button>
    <div class="had-account">Bạn đã có tài khoản <span>Đăng nhập</span></div>
  </div>
</div>
