.filled {
  color: #ffa600;
}

.defaultHeart {
  position: relative;
  display: inline-block;
  color: gray;
  font-size: 24px;
}

.paintedHeart {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #ffa600;
}
