<div class="container">
  <h1>Quên mật khẩu</h1>
  <div class="form-row">
    <form>
      <input type="email" id="email" name="email" required placeholder="Nhập địa chỉ email đã đăng ký tài khoản" class="form-control is-invalid">
      <span class="required">*</span>
      <div class="error-message">Email bạn nhập không chính xác</div>

    </form>
  </div>
  <button class="password-retrieval" id="password-retrieval" onclick="document.getElementById('notification').style.display='block'">Lấy lại mật khẩu</button>
  <div id="notification" style="display:none">
    <div class="modal">
      <p>Mật khẩu mới đã được gửi về email của bạn. Vui lòng kiểm tra và đăng nhập bằng mật khẩu mới</p>
      <button onclick="document.getElementById('notification').style.display='none'">Ok</button>
    </div>
  </div>

</div>

