<div class="container">
  <h1>Quên mật khẩu</h1>
  <div class="form-row">
    <input
      type="text"
      id="email"
      placeholder="Nhập địa chỉ email đã đăng ký tài khoản"
      class="form-control"
      [(ngModel)]="emailValue"
      [ngClass]="{ invalid: !valid }"
      (input)="validateEmail()"
    />

    <span class="required">*</span>
    <div class="error-message">Email bạn nhập không chính xác</div>
  </div>
  <button
    class="password-retrieval"
    id="password-retrieval"
    (click)="getPassword()"
  >
    Lấy lại mật khẩu
  </button>
  <div id="notification" style="display: none">
    <div class="modal">
      <p>
        {{ message }}
      </p>
      <button
        *ngIf="message != 'Đổi mật khẩu thành công. Mời đăng nhập lại!'"
        onclick="document.getElementById('notification').style.display='none'"
      >
        Ok
      </button>
      <button
        *ngIf="message == 'Đổi mật khẩu thành công. Mời đăng nhập lại!'"
        (click)="gotoChangePassword()"
      >
        Đi đổi mật khẩu nào!
      </button>
    </div>
  </div>
</div>
