.container {
  max-width: 1200px;
  margin: 30px auto;
}

.information-shop {
  display: flex;
  align-items: center;
  gap: 20px;
}

.information-shop .logo img {
  width: 50px;
  height: 50px;
}

.information-shop .name-phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.heading {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 8px;
}

.line {
  height: 1px;
  width: 100%;
  margin: 16px 0;
  background-color: #ddd;
}

.row-infor {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.row-infor .title-infor {
  min-width: 120px;
  text-align: right;
  margin-right: 32px;
}

.row-infor input {
  max-width: 400px;
}

.box-input {
  display: flex;
  align-items: center;
  gap: 30px;
}

.box-input .gender-type {
  display: flex;
  align-items: center;
  gap: 8px;
}

.row-infor input[type="password"] {
  margin-right: 16px;
}

.row-infor .select-date {
  min-width: 60px;
  padding: 4px 8px;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: 0.3s;
}

.row-infor .select-date:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
    0 0 5px rgba(128, 189, 255, 0.5);
}

.change-password-btn,
.save-btn {
  padding: 8px 24px;
  color: #fff;
  background-color: #2e3193;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.change-password-btn:hover,
.save-btn:hover {
  opacity: 0.9;
}

.save-btn {
  margin-left: 155px;
}
.tabs {
  display: flex;
  flex-direction: row;
}
.tabs ul {
  display: flex;
  flex-direction: column;
  text-align: left !important;
}
.tab:has(> div[hidden]) {
  /* CSS properties */
  display: none;
}
.tabs .tab {
  flex-grow: 1;
}
.tab .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.tab .title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.notification {
  background-color: #f2f2f2;
  border-left: 6px solid #4caf50;
  margin: 20px;
  max-width: 800px;
  padding: 10px;
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-header h1 {
  font-size: 24px;
  margin: 0;
}

.close-btn {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.close-btn:hover {
  color: #ff3333;
}

.notification-body {
  margin: 10px 0;
  font-size: 18px;
}
.comment-container ~ .tab {
  min-height: 600px;
  overflow: scroll;
}
.review {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

.user-info {
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.date {
  color: #777;
}

#notification {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.modal {
  background-color: white;
  max-width: 500px;
  height: 200px;
  position: relative;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-top: 50px; */
}
.modal p {
  font-size: 18px;
  color: #333;
  margin: 5px 5px;
  line-height: 1.5;
}
.modal button {
  width: 20%;
  background-color: #2f3192;
  color: #fff;
  border-radius: 5px;
  border: none;
  margin: 16px 0;
  padding: 16px 0;
}
.modal button:hover {
  background-color: #4f50a4;
  cursor: pointer;
}
