/* You can add global styles to this file, and also import other style files */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  margin: 0;
  padding: 0;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
