<div class="container">
  <div class="title">So sánh sản phẩm</div>
  <div>
    <button class="go-back-btn" (click)="goBack()">
      Trở về sản phẩm chính
    </button>
  </div>
  <div class="product-container">
    <div class="row product-title">
      <ng-container *ngFor="let p of listProduct">
        <div class="name">
          <a href="/product/{{ p.id }}">
            {{ p.productName }}
          </a>
        </div>
      </ng-container>
    </div>
    <div class="row product-compare">
      <ng-container *ngFor="let p of listProduct">
        <div class="product">
          <slider
            class="slider"
            [type]="'image'"
            [list]="p.productImage"
          ></slider>
          <div class="product-price">
            Giá chỉ từ
            <span class="price">{{
              p.productPrice.toLocaleString("vi-VN", {
                style: "currency",
                currency: "VND"
              })
            }}</span>
          </div>
          <button class="btn-buy" (click)="buyNow(p, 1)">Mua ngay</button>
        </div>
      </ng-container>
    </div>
    <div class="title">Thông tin chung</div>
    <div class="row">
      <div *ngFor="let p of listProduct" class="general-info">
        <div class="icon">
          <img src="../assets/images/icons/information.png" alt="" />
        </div>
        <p>Thương hiệu {{ p.productBrand }}</p>
        <p>Xuất xứ {{ p.productRegion }}</p>
        <p>Bảo hành {{ p.warrantyPeriod }} tháng</p>
      </div>
    </div>
    <div class="title">Kích thước (Cao x Rộng x Sâu) và trọng lượng</div>
    <div class="row">
      <div *ngFor="let p of listProduct" class="size">
        <div class="icon">
          <img src="../assets/images/icons/package.png" alt="package" />
        </div>
        <p>{{ p.specifications.size }}</p>
        <p>Trọng lượng {{ p.specifications.weight }}</p>
      </div>
    </div>
    <div class="title">Màn hình</div>
    <div class="row">
      <div *ngFor="let p of listProduct" class="screen">
        <div class="icon">
          <img src="../assets/images/icons/devices.png" alt="devices" />
        </div>
        <p>{{ p.specifications.screen }}</p>
      </div>
    </div>
    <div class="title">Bộ xử lý</div>
    <div class="row">
      <div *ngFor="let p of listProduct" class="processor">
        <div class="icon">
          <img src="../assets/images/icons/processor.png" alt="processor" />
        </div>
        <p>{{ p.specifications.cpu }}</p>
      </div>
    </div>
    <div class="title">RAM & Disk</div>
    <div class="row">
      <div *ngFor="let p of listProduct" class="ram">
        <div class="icon">
          <img src="../assets/images/icons/ram.png" alt="ram" />
        </div>
        <p>{{ p.specifications.ram }}</p>
        <p>{{ p.specifications.storage }}</p>
      </div>
    </div>
    <div class="title">Card đồ họa</div>
    <div class="row">
      <div *ngFor="let p of listProduct" class="gpu">
        <div class="icon">
          <img
            src="../assets/images/icons/graphic-card.png"
            alt="graphic-card"
          />
        </div>
        <p>{{ p.specifications.gpu }}</p>
      </div>
    </div>
    <div class="title">Thông tin pin và sạc</div>
    <div class="row">
      <div *ngFor="let p of listProduct" class="battery">
        <div class="icon">
          <img
            src="../assets/images/icons/low-battery.png"
            alt="graphic-card"
          />
        </div>
        <p>{{ p.specifications.batteryCapacity }}</p>
      </div>
    </div>
  </div>
</div>
