<div>
  <div class="container">
    <div class="header">
      <div class="header-left">
        <p>Chính sách bảo mật</p>
      </div>
      <div class="header-right">
        <a href="" class="icon-style"
          ><i class="fa-solid fa-magnifying-glass" style="color: #000000"></i
        ></a>
        <a href="" class="icon-style"
          ><i
            class="fa-sharp fa-regular fa-circle-exclamation"
            style="color: #000000"
          ></i
        ></a>
        <a href="" class="icon-style" style="font-size: 24px"><span>|</span></a>
        <a href="" class="icon-style"><p>BlueSpace</p></a>
        <a href="" class="icon-style"><p>BS</p></a>
        <a href="" class="icon-style"
          ><i class="fa-regular fa-envelope"></i> Góp ý</a
        >
      </div>
    </div>
    <div class="main">
      <div class="main-header">
        <div class="title">
          <h1>Chính sách bảo mật</h1>
        </div>
      </div>
      <div class="main-content">
        <h4>
          Blue Space cam kết sẽ bảo mật những thông tin mang tính riêng tư của
          bạn. Bạn vui lòng đọc bản “Chính sách bảo mật” dưới đây để hiểu hơn
          những cam kết mà chúng tôi thực hiện, nhằm tôn trọng và bảo vệ quyền
          lợi của người truy cập.
        </h4>
        <ol>
          <li><span class="bold">Mục đích và phạm vi thu thập?</span></li>
          <p>
            Để truy cập và sử dụng một số dịch vụ tại Blue Space, bạn có thể sẽ
            được yêu cầu đăng ký với chúng tôi thông tin cá nhân (Email, Họ tên,
            Số ĐT liên lạc…). Mọi thông tin khai báo phải đảm bảo tính chính xác
            và hợp pháp. Blue Space không chịu mọi trách nhiệm liên quan đến
            pháp luật của thông tin khai báo. Chúng tôi cũng có thể thu thập
            thông tin về số lần viếng thăm, bao gồm số trang bạn xem, số links
            (liên kết) bạn click và những thông tin khác liên quan đến việc kết
            nối đến site. Chúng tôi cũng thu thập các thông tin mà trình duyệt
            Web (Browser) bạn sử dụng mỗi khi truy cập vào Blue Space, bao gồm:
            địa chỉ IP, loại Browser, ngôn ngữ sử dụng, thời gian và những địa
            chỉ mà Browser truy xuất đến.
          </p>
          <li><span class="bold">Phạm vi sử dụng thông tin</span></li>
          <p>
            Blue Space thu thập và sử dụng thông tin cá nhân bạn với mục đích
            phù hợp và hoàn toàn tuân thủ nội dung của “Chính sách bảo mật” này.
            Khi cần thiết, chúng tôi có thể sử dụng những thông tin này để liên
            hệ trực tiếp với bạn dưới các hình thức như: gởi thư ngỏ, đơn đặt
            hàng, thư cảm ơn, sms, thông tin về kỹ thuật và bảo mật…
          </p>
          <li><span class="bold">Thời gian lưu trữ thông tin</span></li>
          <p>
            Dữ liệu cá nhân của Thành viên sẽ được lưu trữ cho đến khi có yêu
            cầu hủy bỏ hoặc tự thành viên đăng nhập và thực hiện hủy bỏ. Còn lại
            trong mọi trường hợp thông tin cá nhân thành viên sẽ được bảo mật
            trên máy chủ của Blue Space.
          </p>
          <li>
            <span class="bold"
              >Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ
              liệu cá nhân</span
            >
          </li>
          <p>
            Hiện website chưa triển khai trang quản lý thông tin cá nhân của
            thành viên, vì thế việc tiếp cận và chỉnh sửa dữ liệu cá nhân dựa
            vào yêu cầu của khách hàng bằng cách hình thức sau: Gọi điện thoại
            đến tổng đài chăm sóc khách hàng 1800 6601, bằng nghiệp vụ chuyên
            môn xác định thông tin cá nhân và nhân viên tổng đài sẽ hỗ trợ chỉnh
            sửa thay người dùng. Để lại bình luận hoặc gửi góp ý trực tiếp từ
            website, quản trị viên kiểm tra thông tin và xem xét nội dung bình
            luận có phù hợp với pháp luật và chính sách của Blue Space.
          </p>
          <li>
            <span class="bold"
              >Cam kết bảo mật thông tin cá nhân khách hàng</span
            >
          </li>
          <p>
            Thông tin cá nhân của thành viên trên Blue Space được Blue Space cam
            kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân của
            Blue Space. Việc thu thập và sử dụng thông tin của mỗi thành viên
            chỉ được thực hiện khi có sự đồng ý của khách hàng đó trừ những
            trường hợp pháp luật có quy định khác. Không sử dụng, không chuyển
            giao, cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân
            của thành viên khi không có sự cho phép đồng ý từ thành viên. Trong
            trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất
            mát dữ liệu cá nhân thành viên, Blue Space sẽ có trách nhiệm thông
            báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và thông
            báo cho thành viên được biết. Bảo mật tuyệt đối mọi thông tin giao
            dịch trực tuyến của Thành viên bao gồm thông tin hóa đơn kế toán
            chứng từ số hóa tại khu vực dữ liệu trung tâm an toàn cấp 1 của Blue
            Space. Hệ thống thanh toán thẻ được cung cấp bởi các đối tác cổng
            thanh toán (“Đối Tác Cổng Thanh Toán”) đã được cấp phép hoạt động
            hợp pháp tại Việt Nam. Theo đó, các tiêu chuẩn bảo mật thanh toán
            thẻ tại Blue Space đảm bảo tuân thủ theo các tiêu chuẩn bảo mật
            ngành. Ban quản lý Blue Space yêu cầu các cá nhân khi đăng ký/mua
            hàng là thành viên, phải cung cấp đầy đủ thông tin cá nhân có liên
            quan như: Họ và tên, địa chỉ liên lạc, email, số chứng minh nhân
            dân, điện thoại, số tài khoản, số thẻ thanh toán …., và chịu trách
            nhiệm về tính pháp lý của những thông tin trên. Ban quản lý Blue
            Space không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại
            có liên quan đến quyền lợi của Thành viên đó nếu xét thấy tất cả
            thông tin cá nhân của thành viên đó cung cấp khi đăng ký ban đầu là
            không chính xác.
          </p>
          <li><span class="bold">Quy định bảo mật</span></li>
          <p>
            Chính sách giao dịch thanh toán bằng thẻ quốc tế và thẻ nội địa
            (internet banking) đảm bảo tuân thủ các tiêu chuẩn bảo mật của các
            Đối Tác Cổng Thanh Toán gồm: Thông tin tài chính của Khách hàng sẽ
            được bảo vệ trong suốt quá trình giao dịch bằng giao thức SSL
            256-bit (Secure Sockets Layer). Mật khẩu sử dụng một lần (OTP) được
            gửi qua SMS để đảm bảo việc truy cập tài khoản được xác thực. Các
            nguyên tắc và quy định bảo mật thông tin trong ngành tài chính ngân
            hàng theo quy định của Ngân hàng nhà nước Việt Nam. Chính sách bảo
            mật giao dịch trong thanh toán của Blue Space áp dụng với Khách
            hàng: Thông tin thẻ thanh toán của Khách hàng mà có khả năng sử dụng
            để xác lập giao dịch KHÔNG được lưu trên hệ thống của Blue Space.
            Đối Tác Cổng Thanh Toán sẽ lưu giữ và bảo mật theo tiêu chuẩn quốc
            tế PCI DSS. Đối với thẻ nội địa (internet banking), Blue Space chỉ
            lưu trữ mã đơn hàng, mã giao dịch và tên ngân hàng. Blue Space cam
            kết đảm bảo thực hiện nghiêm túc các biện pháp bảo mật cần thiết cho
            mọi hoạt động thanh toán thực hiện trên trang Blue Space.
          </p>
          <li>
            <span class="bold">Làm cách nào để yêu cầu xóa dữ liệu?</span>
          </li>
          <p>
            Bạn có thể gửi yêu cầu xóa dữ liệu qua email Trung tâm hỗ trợ của
            chúng tôi: cskh@bluespace.com.vn. Vui lòng cung cấp càng nhiều thông
            tin càng tốt về dữ liệu nào bạn muốn xóa. Yêu cầu sẽ được chuyển đến
            nhóm thích hợp để đánh giá và xử lý. Chúng tôi sẽ liên hệ từng bước
            để cập nhật cho bạn về tiến trình xóa.
          </p>
        </ol>
      </div>
    </div>
  </div>
</div>
