<div class="container">
  <div class="banner">
    <img src="../assets/images/catalog/banner.png" alt="" />
  </div>

  <div class="number-product">Laptop Asus (35)</div>

  <div class="main-content">
    <div class="filter">
      <div class="filter__heading">Lọc</div>
      <div class="filter__filter-btn-box">
        <button class="filter__delete-filter-btn" (click)="deleteFilter()">
          Xóa lọc
        </button>
      </div>

      <!-- start Filter laptop -->
      <div class="filter__box" *ngIf="categoryName == 'laptop'">
        <div class="filter-list" id="laptop-filter-screen">
          <div class="filter-title">Màn hình</div>
          <div class="filter-item" data-value="13">
            <span
              class="choice"
              id="inch13laptop"
              #inch13laptop
              (click)="toggleActiveClassChoice(inch13laptop.id)"
              >13 inch</span
            >
          </div>
          <div class="filter-item" data-value="14">
            <span
              class="choice"
              id="inch14laptop"
              #inch14laptop
              (click)="toggleActiveClassChoice(inch14laptop.id)"
              >14 inch</span
            >
          </div>
          <div class="filter-item" data-value="15.6">
            <span
              class="choice"
              id="inch15laptop"
              #inch15laptop
              (click)="toggleActiveClassChoice(inch15laptop.id)"
              >15.6 inch</span
            >
          </div>
        </div>

        <div class="filter-list" id="laptop-filter-ram">
          <div class="filter-title">RAM</div>
          <div class="filter-item" data-value="4 GB">
            <span
              class="choice"
              id="ram4GBlaptop"
              #ram4GBlaptop
              (click)="toggleActiveClassChoice(ram4GBlaptop.id)"
              >4 GB</span
            >
          </div>
          <div class="filter-item" data-value="8 GB">
            <span
              class="choice"
              id="ram8GBlaptop"
              #ram8GBlaptop
              (click)="toggleActiveClassChoice(ram8GBlaptop.id)"
              >8 GB</span
            >
          </div>
          <div class="filter-item" data-value="16 GB">
            <span
              class="choice"
              id="ram16GBlaptop"
              #ram16GBlaptop
              (click)="toggleActiveClassChoice(ram16GBlaptop.id)"
              >16 GB</span
            >
          </div>
        </div>

        <div class="filter-list filter-list-price" id="laptop-filter-price">
          <div class="filter-title">Giá</div>
          <div class="filter-item" data-value="0-15">
            <span
              class="choice"
              id="under15"
              (click)="addActiveClassPrice(under15.id)"
              #under15
              >Dưới 15.000.000đ</span
            >
          </div>
          <div class="filter-item" data-value="15-25">
            <span
              class="choice"
              id="from15to25"
              (click)="addActiveClassPrice(from15to25.id)"
              #from15to25
              >15.000.000 - 25.000.000đ</span
            >
          </div>
          <div class="filter-item" data-value="25-35">
            <span
              class="choice"
              id="from25to35"
              (click)="addActiveClassPrice(from25to35.id)"
              #from25to35
              >25.000.000 - 35.000.000đ</span
            >
          </div>
          <div class="filter-item" data-value="35-100">
            <span
              class="choice"
              id="over35"
              (click)="addActiveClassPrice(over35.id)"
              #over35
              >Trên 35.000.000đ</span
            >
          </div>
        </div>

        <!-- <div class="filter-list">
          <div class="filter-title">Màu sắc</div>
          <div class="filter-color">
            <span
              class="color-item active"
              id="colorBlack"
              #colorBlack
              (click)="toggleActiveClassBrandAndColor(colorBlack.id)"
              ><span class="color-choosen"></span
            ></span>
            <span
              class="color-item"
              id="colorWhite"
              #colorWhite
              (click)="toggleActiveClassBrandAndColor(colorWhite.id)"
              ><span class="color-choosen"></span
            ></span>
            <span
              class="color-item"
              id="colorBlue"
              #colorBlue
              (click)="toggleActiveClassBrandAndColor(colorBlue.id)"
              ><span class="color-choosen"></span
            ></span>
            <span
              class="color-item"
              id="colorPink"
              #colorPink
              (click)="toggleActiveClassBrandAndColor(colorPink.id)"
              ><span class="color-choosen"></span
            ></span>
          </div>
        </div> -->
      </div>

      <div
        class="filter__filter-btn-box"
        id="laptop-filter-btn"
        *ngIf="categoryName == 'laptop'"
      >
        <button class="filter__apply-filter-btn" (click)="laptopFilter()">
          Áp dụng
        </button>
      </div>
      <!-- End filter top-->

      <!-- Start filter phone or tablet -->
      <div
        class="filter__box"
        *ngIf="categoryName == 'phone' || categoryName == 'tablet'"
      >
        <div class="filter-list" id="phone-filter-storage">
          <div class="filter-title">Bộ nhớ trong</div>
          <div class="filter-item" data-value="32">
            <span
              class="choice"
              id="storage32gb"
              #storage32gb
              (click)="toggleActiveClassChoice(storage32gb.id)"
              >32 GB</span
            >
          </div>
          <div class="filter-item" data-value="64">
            <span
              class="choice"
              id="storage64gb"
              #storage64gb
              (click)="toggleActiveClassChoice(storage64gb.id)"
              >64 GB</span
            >
          </div>
          <div class="filter-item" data-value="128">
            <span
              class="choice"
              id="storage128gb"
              #storage128gb
              (click)="toggleActiveClassChoice(storage128gb.id)"
              >128 GB</span
            >
          </div>
        </div>

        <div class="filter-list" id="phone-filter-ram">
          <div class="filter-title">RAM</div>
          <div class="filter-item" data-value="4">
            <span
              class="choice"
              id="ram4GBphone"
              #ram4GBphone
              (click)="toggleActiveClassChoice(ram4GBphone.id)"
              >4 GB</span
            >
          </div>
          <div class="filter-item" data-value="6">
            <span
              class="choice"
              id="ram6GBphone"
              #ram6GBphone
              (click)="toggleActiveClassChoice(ram6GBphone.id)"
              >6 GB</span
            >
          </div>
          <div class="filter-item" data-value="8">
            <span
              class="choice"
              id="ram8GBphone"
              #ram8GBphone
              (click)="toggleActiveClassChoice(ram8GBphone.id)"
              >8 GB</span
            >
          </div>
          <div class="filter-item" data-value="6">
            <span
              class="choice"
              id="ram6gbphone"
              #ram6gbphone
              (click)="toggleActiveClassChoice(ram6gbphone.id)"
              >16 GB</span
            >
          </div>
        </div>

        <div class="filter-list filter-list-price" id="phone-filter-price">
          <div class="filter-title">Giá</div>
          <div class="filter-item" data-value="0-5">
            <span
              class="choice"
              id="under5phone"
              (click)="addActiveClassPrice(under5phone.id)"
              #under5phone
              >Dưới 5.000.000đ</span
            >
          </div>
          <div class="filter-item" data-value="5-15">
            <span
              class="choice"
              id="from5to15phone"
              (click)="addActiveClassPrice(from5to15phone.id)"
              #from5to15phone
              >5.000.000 - 15.000.000đ</span
            >
          </div>
          <div class="filter-item" data-value="15-25">
            <span
              class="choice"
              id="from15to25phone"
              (click)="addActiveClassPrice(from15to25phone.id)"
              #from15to25phone
              >15.000.000 - 25.000.000đ</span
            >
          </div>
          <div class="filter-item" data-value="35-100">
            <span
              class="choice"
              id="over25phone"
              (click)="addActiveClassPrice(over25phone.id)"
              #over25phone
              >Trên 25.000.000đ</span
            >
          </div>
        </div>

        <!-- <div class="filter-list">
          <div class="filter-title">Màu sắc</div>
          <div class="filter-color">
            <span
              class="color-item active"
              id="colorBlack"
              #colorBlack
              (click)="toggleActiveClassBrandAndColor(colorBlack.id)"
              ><span class="color-choosen"></span
            ></span>
            <span
              class="color-item"
              id="colorWhite"
              #colorWhite
              (click)="toggleActiveClassBrandAndColor(colorWhite.id)"
              ><span class="color-choosen"></span
            ></span>
            <span
              class="color-item"
              id="colorBlue"
              #colorBlue
              (click)="toggleActiveClassBrandAndColor(colorBlue.id)"
              ><span class="color-choosen"></span
            ></span>
            <span
              class="color-item"
              id="colorPink"
              #colorPink
              (click)="toggleActiveClassBrandAndColor(colorPink.id)"
              ><span class="color-choosen"></span
            ></span>
          </div>
        </div> -->
      </div>

      <div
        class="filter__filter-btn-box"
        id="phone-filter-btn"
        *ngIf="categoryName == 'phone' || categoryName == 'tablet'"
      >
        <button class="filter__apply-filter-btn" (click)="phoneTabletFilter()">
          Áp dụng
        </button>
      </div>
      <!-- End filter phone or tablet -->

      <!-- Start filter earphone -->
      <div class="filter__box" *ngIf="categoryName == 'earphone'">
        <div class="filter-list" id="earphone-filter-type">
          <div class="filter-title">Kiểu tai nghe</div>
          <div class="filter-item" data-value="Over-ear">
            <span
              class="choice"
              id="overEarPhone"
              #overEarPhone
              (click)="toggleActiveClassChoice(overEarPhone.id)"
              >Over ear</span
            >
          </div>
          <div class="filter-item" data-value="In-ear">
            <span
              class="choice"
              id="inEarphone"
              #inEarphone
              (click)="toggleActiveClassChoice(inEarphone.id)"
              >In ear</span
            >
          </div>
        </div>

        <div class="filter-list filter-list-price" id="earphone-filter-price">
          <div class="filter-title">Giá</div>
          <div class="filter-item" data-value="0-1">
            <span
              class="choice"
              id="under1earphone"
              (click)="addActiveClassPrice(under1earphone.id)"
              #under1earphone
              >Dưới 1.000.000đ</span
            >
          </div>
          <div class="filter-item" data-value="1-2">
            <span
              class="choice"
              id="from1to2earphone"
              (click)="addActiveClassPrice(from1to2earphone.id)"
              #from1to2earphone
              >1.000.000 - 2.000.000đ</span
            >
          </div>
          <div class="filter-item" data-value="2-3">
            <span
              class="choice"
              id="from2to3earphone"
              (click)="addActiveClassPrice(from2to3earphone.id)"
              #from2to3earphone
              >2.000.000 - 3.000.000đ</span
            >
          </div>
          <div class="filter-item" data-value="3-100">
            <span
              class="choice"
              id="over3earphone"
              (click)="addActiveClassPrice(over3earphone.id)"
              #over3earphone
              >Trên 3.000.000đ</span
            >
          </div>
        </div>

        <!-- <div class="filter-list">
          <div class="filter-title">Màu sắc</div>
          <div class="filter-color">
            <span
              class="color-item active"
              id="colorBlack"
              #colorBlack
              (click)="toggleActiveClassBrandAndColor(colorBlack.id)"
              ><span class="color-choosen"></span
            ></span>
            <span
              class="color-item"
              id="colorWhite"
              #colorWhite
              (click)="toggleActiveClassBrandAndColor(colorWhite.id)"
              ><span class="color-choosen"></span
            ></span>
            <span
              class="color-item"
              id="colorBlue"
              #colorBlue
              (click)="toggleActiveClassBrandAndColor(colorBlue.id)"
              ><span class="color-choosen"></span
            ></span>
            <span
              class="color-item"
              id="colorPink"
              #colorPink
              (click)="toggleActiveClassBrandAndColor(colorPink.id)"
              ><span class="color-choosen"></span
            ></span>
          </div>
        </div> -->
      </div>

      <div
        class="filter__filter-btn-box"
        id="earphone-filter-btn"
        *ngIf="categoryName == 'earphone'"
      >
        <button class="filter__apply-filter-btn" (click)="earphoneFilter()">
          Áp dụng
        </button>
      </div>
      <!-- End filter earphone -->

      <!-- Start filter keyboard -->
      <div class="filter__box" *ngIf="categoryName == 'keyboard'">
        <div class="filter-list" id="keyboard-filter-type">
          <div class="filter-title">Kiểu bàn phím</div>
          <div class="filter-item" data-value="Tenkeyless">
            <span
              class="choice"
              id="tenkeylessKeyboard"
              #tenkeylessKeyboard
              (click)="toggleActiveClassChoice(tenkeylessKeyboard.id)"
              >Tenkeyless</span
            >
          </div>
          <div class="filter-item" data-value="Full size">
            <span
              class="choice"
              id="fullsizeKeyboard"
              #fullsizeKeyboard
              (click)="toggleActiveClassChoice(fullsizeKeyboard.id)"
              >Full size</span
            >
          </div>
        </div>
        <div class="filter-list" id="keyboard-filter-connection">
          <div class="filter-title">Kiểu kết nối</div>
          <div class="filter-item" data-value="dây">
            <span
              class="choice"
              id="dayKeyboard"
              #dayKeyboard
              (click)="toggleActiveClassChoice(dayKeyboard.id)"
              >Có dây</span
            >
          </div>
          <div class="filter-item" data-value="bluetooth">
            <span
              class="choice"
              id="bluetoothKeyboard"
              #bluetoothKeyboard
              (click)="toggleActiveClassChoice(bluetoothKeyboard.id)"
              >Không dây</span
            >
          </div>
        </div>

        <div class="filter-list filter-list-price" id="keyboard-filter-price">
          <div class="filter-title">Giá</div>
          <div class="filter-item" data-value="0-1">
            <span
              class="choice"
              id="under1keyboard"
              (click)="addActiveClassPrice(under1keyboard.id)"
              #under1keyboard
              >Dưới 1.000.000đ</span
            >
          </div>
          <div class="filter-item" data-value="1-3">
            <span
              class="choice"
              id="from1to3keyboard"
              (click)="addActiveClassPrice(from1to3keyboard.id)"
              #from1to3keyboard
              >1.000.000 - 3.000.000đ</span
            >
          </div>
          <div class="filter-item" data-value="3-5">
            <span
              class="choice"
              id="from3to5keyboard"
              (click)="addActiveClassPrice(from3to5keyboard.id)"
              #from3to5keyboard
              >3.000.000 - 5.000.000đ</span
            >
          </div>
          <div class="filter-item" data-value="5-100">
            <span
              class="choice"
              id="over5keyboard"
              (click)="addActiveClassPrice(over5keyboard.id)"
              #over5keyboard
              >Trên 5.000.000đ</span
            >
          </div>
        </div>

        <!-- <div class="filter-list">
          <div class="filter-title">Màu sắc</div>
          <div class="filter-color">
            <span
              class="color-item active"
              id="colorBlack"
              #colorBlack
              (click)="toggleActiveClassBrandAndColor(colorBlack.id)"
              ><span class="color-choosen"></span
            ></span>
            <span
              class="color-item"
              id="colorWhite"
              #colorWhite
              (click)="toggleActiveClassBrandAndColor(colorWhite.id)"
              ><span class="color-choosen"></span
            ></span>
            <span
              class="color-item"
              id="colorBlue"
              #colorBlue
              (click)="toggleActiveClassBrandAndColor(colorBlue.id)"
              ><span class="color-choosen"></span
            ></span>
            <span
              class="color-item"
              id="colorPink"
              #colorPink
              (click)="toggleActiveClassBrandAndColor(colorPink.id)"
              ><span class="color-choosen"></span
            ></span>
          </div>
        </div> -->
      </div>

      <div
        class="filter__filter-btn-box"
        id="earphone-filter-btn"
        *ngIf="categoryName == 'keyboard'"
      >
        <button class="filter__apply-filter-btn" (click)="keyboardFilter()">
          Áp dụng
        </button>
      </div>
      <!-- End filter keyboard -->

      <!-- Start filter application -->
      <div class="filter__box" *ngIf="categoryName == 'application'">
        <div class="filter-list" id="application-filter-type">
          <div class="filter-title">Kiểu phần mềm</div>
          <div class="filter-item" data-value="Diệt Virus">
            <span
              class="choice"
              id="virusApplication"
              #virusApplication
              (click)="toggleActiveClassChoice(virusApplication.id)"
              >Diệt Virus</span
            >
          </div>
          <div class="filter-item" data-value="Ứng dụng">
            <span
              class="choice"
              id="ungdungApplication"
              #ungdungApplication
              (click)="toggleActiveClassChoice(ungdungApplication.id)"
              >Ứng dụng</span
            >
          </div>
          <div class="filter-item" data-value="Truyền hình">
            <span
              class="choice"
              id="truyenhinhApplication"
              #truyenhinhApplication
              (click)="toggleActiveClassChoice(truyenhinhApplication.id)"
              >Truyền hình</span
            >
          </div>
          <div class="filter-item" data-value="Office">
            <span
              class="choice"
              id="officeApplication"
              #officeApplication
              (click)="toggleActiveClassChoice(officeApplication.id)"
              >Office</span
            >
          </div>
        </div>
        <div class="filter-list" id="application-filter-language">
          <div class="filter-title">Ngôn ngữ</div>
          <div class="filter-item" data-value="Tiếng Việt">
            <span
              class="choice"
              id="vietnameseApplication"
              #vietnameseApplication
              (click)="toggleActiveClassChoice(vietnameseApplication.id)"
              >Tiếng Việt</span
            >
          </div>
          <div class="filter-item" data-value="English">
            <span
              class="choice"
              id="englishApplication"
              #englishApplication
              (click)="toggleActiveClassChoice(englishApplication.id)"
              >English</span
            >
          </div>
        </div>

        <div
          class="filter-list filter-list-price"
          id="application-filter-price"
        >
          <div class="filter-title">Giá</div>
          <div class="filter-item" data-value="0-0.5">
            <span
              class="choice"
              id="under05application"
              (click)="addActiveClassPrice(under05application.id)"
              #under05application
              >Dưới 500.000đ</span
            >
          </div>
          <div class="filter-item" data-value="0.5-2">
            <span
              class="choice"
              id="from05to2application"
              (click)="addActiveClassPrice(from05to2application.id)"
              #from05to2application
              >500.000 - 2.000.000đ</span
            >
          </div>
          <div class="filter-item" data-value="2-5">
            <span
              class="choice"
              id="from2to5application"
              (click)="addActiveClassPrice(from2to5application.id)"
              #from2to5application
              >2.000.000 - 5.000.000đ</span
            >
          </div>
          <div class="filter-item" data-value="5-100">
            <span
              class="choice"
              id="over5application"
              (click)="addActiveClassPrice(over5application.id)"
              #over5application
              >Trên 5.000.000đ</span
            >
          </div>
        </div>

        <!-- <div class="filter-list">
          <div class="filter-title">Màu sắc</div>
          <div class="filter-color">
            <span
              class="color-item active"
              id="colorBlack"
              #colorBlack
              (click)="toggleActiveClassBrandAndColor(colorBlack.id)"
              ><span class="color-choosen"></span
            ></span>
            <span
              class="color-item"
              id="colorWhite"
              #colorWhite
              (click)="toggleActiveClassBrandAndColor(colorWhite.id)"
              ><span class="color-choosen"></span
            ></span>
            <span
              class="color-item"
              id="colorBlue"
              #colorBlue
              (click)="toggleActiveClassBrandAndColor(colorBlue.id)"
              ><span class="color-choosen"></span
            ></span>
            <span
              class="color-item"
              id="colorPink"
              #colorPink
              (click)="toggleActiveClassBrandAndColor(colorPink.id)"
              ><span class="color-choosen"></span
            ></span>
          </div>
        </div> -->
      </div>

      <div
        class="filter__filter-btn-box"
        id="mouse-filter-btn"
        *ngIf="categoryName == 'application'"
      >
        <button class="filter__apply-filter-btn" (click)="applicationFilter()">
          Áp dụng
        </button>
      </div>
      <!-- End filter Application -->

      <!-- Start filter mouse -->
      <div class="filter__box" *ngIf="categoryName == 'mouse'">
        <div class="filter-list filter-list-price" id="mouse-filter-price">
          <div class="filter-title">Giá</div>
          <div class="filter-item" data-value="0-0.3">
            <span
              class="choice"
              id="under03mouse"
              (click)="addActiveClassPrice(under03mouse.id)"
              #under03mouse
              >Dưới 300.000đ</span
            >
          </div>
          <div class="filter-item" data-value="0.3-1">
            <span
              class="choice"
              id="from03to1mouse"
              (click)="addActiveClassPrice(from03to1mouse.id)"
              #from03to1mouse
              >300.000 - 1.000.000đ</span
            >
          </div>
          <div class="filter-item" data-value="1-2">
            <span
              class="choice"
              id="from1to2mouse"
              (click)="addActiveClassPrice(from1to2mouse.id)"
              #from1to2mouse
              >1.000.000 - 2.000.000đ</span
            >
          </div>
          <div class="filter-item" data-value="2-100">
            <span
              class="choice"
              id="over2mouse"
              (click)="addActiveClassPrice(over2mouse.id)"
              #over2mouse
              >Trên 5.000.000đ</span
            >
          </div>
        </div>

        <!-- <div class="filter-list">
          <div class="filter-title">Màu sắc</div>
          <div class="filter-color">
            <span
              class="color-item active"
              id="colorBlack"
              #colorBlack
              (click)="toggleActiveClassBrandAndColor(colorBlack.id)"
              ><span class="color-choosen"></span
            ></span>
            <span
              class="color-item"
              id="colorWhite"
              #colorWhite
              (click)="toggleActiveClassBrandAndColor(colorWhite.id)"
              ><span class="color-choosen"></span
            ></span>
            <span
              class="color-item"
              id="colorBlue"
              #colorBlue
              (click)="toggleActiveClassBrandAndColor(colorBlue.id)"
              ><span class="color-choosen"></span
            ></span>
            <span
              class="color-item"
              id="colorPink"
              #colorPink
              (click)="toggleActiveClassBrandAndColor(colorPink.id)"
              ><span class="color-choosen"></span
            ></span>
          </div>
        </div> -->
      </div>

      <div
        class="filter__filter-btn-box"
        id="mouse-filter-btn"
        *ngIf="categoryName == 'mouse'"
      >
        <button class="filter__apply-filter-btn" (click)="mouseFilter()">
          Áp dụng
        </button>
      </div>
      <!-- End filter mouse -->
    </div>

    <div class="show-product">
      <div class="sub-show-product">
        <div class="sort-show-select">
          <div class="select-box">
            <span>Sắp xếp: </span>
            <select
              name=""
              id="sort"
              [(ngModel)]="typeSort"
              (change)="sortProduct()"
            >
              <option value="asc">Giá tăng dần</option>
              <option value="desc">Giá giảm dần</option>
            </select>
          </div>
          <div class="type-show-select" (click)="clickGridTypeList()">
            <span id="grid-type-list" class="material-icons-outlined active">
              apps
            </span>
          </div>
          <div class="type-show-select" (click)="clickHorizontalTypeList()">
            <span id="horizontal-type-list" class="material-icons-outlined">
              menu
            </span>
          </div>
        </div>
      </div>

      <div *ngIf="typeShowList; else horizontalList">
        <div class="grid-product-list" id="grid-list">
          <div *ngFor="let p of getProductsForCurrentPage()" class="column">
            <div class="product-item">
              <div class="status">
                <i class="fa-solid fa-circle-check"></i>
                <span>Còn hàng</span>
              </div>
              <a class="thumb" [href]="'/product/' + p.productID">
                <img
                  [src]="'http://localhost:5000/images/' + p.productImage[0]"
                  alt=""
                />
              </a>
              <div class="point">
                <div class="star-rating">
                  <stars-rating
                    [rating]="p.ratingPoint"
                    [maxRating]="5"
                    [isReadOnly]="true"
                  ></stars-rating>
                </div>
                <span class="review">Đánh giá ({{ p.numberReview }})</span>
              </div>
              <a [href]="'/product/' + p.productID" class="name">{{
                p.productName
              }}</a>
              <div class="old-price">{{ convertNumber(p.productPrice) }}đ</div>
              <div class="present-price">
                {{
                  convertNumber(
                    p.productPrice - (p.productPrice * p.productDiscount) / 100
                  )
                }}đ
              </div>
              <div class="compare">
                <i class="fa-solid fa-circle-plus"></i>
                <span>So sánh</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #horizontalList>
        <div class="horizontal-product-list">
          <div
            *ngFor="let p of getProductsForCurrentPage()"
            class="product-item"
          >
            <div class="status">
              <i class="fa-solid fa-circle-check"></i>
              <span>Còn hàng</span>
            </div>
            <div class="top">
              <div class="product-item__image">
                <a [href]="'/product/' + p.productID">
                  <img
                    [src]="'http://localhost:5000/images/' + p.productImage[0]"
                    alt=""
                  />
                </a>
              </div>

              <div class="product-item__information">
                <a class="name">
                  {{ p.productName }}
                </a>
                <div class="price">
                  <span class="old-price">
                    {{ convertNumber(p.productPrice) }}đ</span
                  >
                  <span class="present-price">
                    {{
                      convertNumber(
                        p.productPrice -
                          (p.productPrice * p.productDiscount) / 100
                      )
                    }}đ</span
                  >
                </div>
                <!-- specifications của Laptop -->
                <ul *ngIf="categoryName == 'laptop'" class="information-list">
                  <li class="information-item">
                    Màn hình: {{ p.specifications.screen }}
                  </li>
                  <li class="information-item">
                    CPU: {{ p.specifications.cpu }}
                  </li>
                  <li class="information-item">
                    RAM: {{ p.specifications.ram }}
                  </li>
                  <li class="information-item">
                    Hệ điều hành: {{ p.specifications.operatingSystem }}
                  </li>
                  <li class="information-item">
                    Card đồ họa: {{ p.specifications.gpu }}
                  </li>
                  <li class="information-item">
                    Khối lượng: {{ p.specifications.weight }}
                  </li>
                  <li class="information-item">
                    Khích thước: {{ p.specifications.size }}
                  </li>
                </ul>

                <!-- specifications của Phone và Tablet -->
                <ul
                  *ngIf="categoryName == 'phone' || categoryName == 'tablet'"
                  class="information-list"
                >
                  <li class="information-item">
                    Màn hình: {{ p.specifications.screen }}
                  </li>
                  <li class="information-item">
                    CPU: {{ p.specifications.cpu }}
                  </li>
                  <li class="information-item">
                    RAM: {{ p.specifications.ram }}
                  </li>
                  <li class="information-item">
                    Camera: {{ p.specifications.camera }}
                  </li>
                  <li class="information-item">
                    Hệ điều hành: {{ p.specifications.operatingSystem }}
                  </li>
                  <li class="information-item">
                    Pin: {{ p.specifications.batteryCapacity }}
                  </li>
                  <li class="information-item">
                    Khối lượng: {{ p.specifications.weight }}
                  </li>
                </ul>

                <!-- specifications của Earphone -->
                <ul *ngIf="categoryName == 'earphone'" class="information-list">
                  <li class="information-item">
                    Model: {{ p.specifications.model }}
                  </li>
                  <li class="information-item">
                    Kiểu tai nghe: {{ p.specifications.type }}
                  </li>
                  <li class="information-item">
                    Kiểu kết nối: {{ p.specifications.connection }}
                  </li>
                  <li class="information-item">
                    Khoảng cách kết nối:
                    {{ p.specifications.connectionDistance }}
                  </li>
                  <li class="information-item">
                    Mircophone: {{ p.specifications.micrphone }}
                  </li>
                  <li class="information-item">
                    Khối lượng: {{ p.specifications.weight }}
                  </li>
                </ul>

                <!-- specifications của Mouse -->
                <ul *ngIf="categoryName == 'mouse'" class="information-list">
                  <li class="information-item">
                    DPI: {{ p.specifications.DPI }}
                  </li>
                  <li class="information-item">
                    Kiểu kết nối: {{ p.specifications.connection }}
                  </li>
                  <li class="information-item">
                    Led: {{ p.specifications.led }}
                  </li>
                  <li class="information-item">
                    Khối lượng: {{ p.specifications.weight }}
                  </li>
                  <li class="information-item">
                    Màu:
                    <span *ngFor="let color of p.specifications.color"
                      >{{ color }}
                    </span>
                  </li>
                </ul>

                <!-- specifications của Keyboard -->
                <ul *ngIf="categoryName == 'keyboard'" class="information-list">
                  <li class="information-item">
                    Model: {{ p.specifications.model }}
                  </li>
                  <li class="information-item">
                    Kiểu kết nối: {{ p.specifications.connection }}
                  </li>
                  <li class="information-item">
                    Khoảng cách kết nối:
                    {{ p.specifications.connectionDistance }}
                  </li>
                  <li class="information-item">
                    Switch: {{ p.specifications.switch }}
                  </li>
                  <li class="information-item">
                    Kiểu bàn phím: {{ p.specifications.type }}
                  </li>
                  <li class="information-item">
                    Số phím: {{ p.specifications.numberOfKeys }}
                  </li>
                  <li class="information-item">
                    Led: {{ p.specifications.ledLight }}
                  </li>
                  <li class="information-item">
                    Kích thước: {{ p.specifications.size }}
                  </li>
                </ul>

                <!-- specifications của Application -->
                <ul
                  *ngIf="categoryName == 'application'"
                  class="information-list"
                >
                  <li class="information-item">
                    Ngôn ngữ: {{ p.specifications.language }}
                  </li>
                  <li class="information-item">
                    Phần mềm: {{ p.specifications.type }}
                  </li>
                  <li class="information-item">
                    Số người dùng: {{ p.specifications.numberOfUser }}
                  </li>
                  <li class="information-item">
                    Tương thích với hệ điều hành:
                    {{ p.specifications.operationSystem }}
                  </li>
                </ul>
              </div>

              <div class="prodcut-item__endow">
                <div class="endow-title">
                  <img src="../assets/images/icons/discount.png" alt="" />
                  <span>Ưu đãi</span>
                </div>
                <ul class="endow-list">
                  <li class="endow-item">Nhập 10CHAM ưu đãi ngay 1 triệu</li>
                  <li class="endow-item">
                    Thanh toán online giảm ngay 3 triệu
                  </li>
                  <li class="endow-item">Thu cũ đổi mới hỗ trợ ngay 3 triệu</li>
                  <li class="endow-item">Miễn phí vận chuyển toàn quốc</li>
                  <li class="endow-item">
                    Đổi trả trong 30 ngày nếu phát sinh lỗi của nhà sản xuất
                  </li>
                </ul>
              </div>
            </div>

            <div class="bottom">
              <div class="point">
                <div class="star-rating">
                  <stars-rating
                    [rating]="p.ratingPoint"
                    [maxRating]="5"
                    [isReadOnly]="true"
                  ></stars-rating>
                </div>
                <span class="review">Đánh giá ({{ p.numberReview }})</span>
              </div>

              <div class="buy-now-btn__details-btn">
                <button class="buy-now-btn">
                  <span class="material-icons-outlined"> shopping_cart </span>
                  <span><a href="">Mua ngay</a></span>
                </button>
                <button class="details-btn">
                  <span class="material-icons-outlined"> bar_chart </span>
                  <span
                    ><a [href]="'/product/' + p.productID"
                      >Xem chi tiết</a
                    ></span
                  >
                </button>
              </div>

              <div class="other-function">
                <button class="compare">
                  <i class="fa-solid fa-circle-plus"></i>
                  <span><a href="">So sánh</a></span>
                </button>
                <div class="mail-btn__favorite-btn">
                  <button class="mail-btn">
                    <span class="material-icons-outlined"> email </span>
                  </button>
                  <button class="favorite-btn">
                    <span class="material-icons-outlined">
                      favorite_border
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <div class="button-pages">
        <button
          *ngFor="let pageNumber of getPageNumbers()"
          (click)="goToPage(pageNumber, $event)"
        >
          {{ pageNumber }}
        </button>
      </div>
    </div>
  </div>
</div>
