.container {
  max-width: 1200px;
  margin: 40px auto;
}

button {
  cursor: pointer;
}

.banner {
  height: 104px;
  width: 100%;
  text-align: center;
  background-color: orange;
  line-height: 104px;
}
.banner img {
  width: 100%;
}

.routing {
  margin-top: 20px;
  margin-left: 18px;
}

.number-product {
  margin-top: 20px;
  font-weight: 600;
  font-size: 32px;
}

.main-content {
  display: flex;
  gap: 12px;
}

.filter {
  margin-top: 70px;
  background-color: #f5f7ff;
  width: 234px;
  padding: 12px;
  height: 100%;
}

.filter__heading {
  margin-top: 12px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.filter__filter-btn-box {
  text-align: center;
  margin: 20px 0;
}

.filter__delete-filter-btn {
  border: 2px solid #a2a6b0;
  border-radius: 50px;
  height: 37px;
  width: 200px;
  cursor: pointer;
  font-weight: bold;
  color: #a2a6b0;
  font-size: 14px;
}

.filter__delete-filter-btn:hover {
  opacity: 0.7;
}

.filter-list {
  margin-top: 24px;
}

.filter-list .filter-title {
  font-size: 14px;
  font-weight: bold;
}

.filter-list .filter-item {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  transition: all 0.2s ease;
}

.filter-list .filter-item:hover {
  color: #1060ff;
}

.filter-list .filter-item.active {
  color: #1060ff;
}

.filter-list .filter-item .choice {
  cursor: pointer;
  font-size: 14px;
}

.filter-color {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 12px;
}

.filter-color .color-item {
  position: relative;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
}

#colorBlack {
  background-color: black;
}

#colorWhite {
  background-color: #bababa;
}

#colorBlue {
  background-color: #0156ff;
}

#colorPink {
  background-color: #e14fc1;
}

.filter-color .color-item .color-choosen {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 2px solid #0156ff;
  background-color: transparent;
}

.filter-color .color-item.active .color-choosen {
  display: block;
}

.filter__apply-filter-btn {
  border-radius: 50px;
  height: 37px;
  width: 200px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  background-color: #0156ff;
  font-size: 14px;
  border: none;
}

.filter__apply-filter-btn:hover {
  opacity: 0.7;
}

.brand-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}

.brand-list .column {
  width: 45%;
  margin: 4px;
}

.brand-item {
  text-align: center;
  padding: 4px;
  cursor: pointer;
  border: 2px solid transparent;
  height: 50px;
  transition: all 0.2s ease;
}

.brand-item:hover {
  border: 2px solid #0156ff;
  border-radius: 10px;
}

.brand-item.active {
  border: 2px solid #0156ff;
  border-radius: 10px;
}

.brand-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.show-product {
  width: 100%;
}

.sub-show-product {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sort-show-select {
  display: flex;
  align-items: center;
  gap: 16px;
}

.number-in-total {
  font-size: 13px;
  color: #a2a6b0;
}

.select-box {
  border: 2px solid #cacdd8;
  padding: 10px 16px;
  font-size: 16px;
}

.select-box span {
  color: #a2a6b0;
}

.select-box select {
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  outline: none;
}

.select-box select option {
}

.type-show-select span {
  font-size: 32px;
  color: #a2a6b0;
}

.type-show-select span:not(.active) {
  cursor: pointer;
}

.type-show-select span.active {
  color: #000;
}

input[name="type-show-list"] {
  display: none;
}

.list-filter-choice {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.filter-choice-item {
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding: 0 12px;
  border: 2px solid #cacdd8;
}

.filter-choice-item .filter-title {
  font-weight: bold;
  margin-right: 4px;
}

.filter-choice-item img {
  width: 20px;
  cursor: pointer;
  margin-left: 16px;
}

.delete-all-filter-btn {
  border: 2px solid #cacdd8;
  height: 40px;
  padding: 0 20px;
  background-color: transparent;
  font-weight: bold;
}

.grid-product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

.grid-product-list .column {
  width: 25%;
}

.grid-product-list .product-item {
  padding: 12px;
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;
  display: block;
}

.grid-product-list .product-item:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
}

.grid-product-list .product-item .status {
  display: flex;
  gap: 12px;
  color: #78a962;
}

.grid-product-list .product-item .status span {
  color: #78a962;
}

.grid-product-list .product-item .thumb {
  width: 100%;
  height: 160px;
  display: block;
}

.grid-product-list .product-item .thumb img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.grid-product-list .product-item .point {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.grid-product-list .product-item .point .review {
  color: #a2a6b0;
  font-size: 12px;
}

.grid-product-list .product-item .name {
  font-size: 18px;
  margin-top: 12px;
  min-height: 82px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  transition: 0.2s;
}

.grid-product-list .product-item .old-price {
  margin-top: 12px;
  font-size: 16px;
  text-decoration: line-through;
  color: #666666;
}

.grid-product-list .product-item .present-price {
  margin-top: 6px;
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.grid-product-list .product-item .compare {
  margin-top: 8px;
  color: #2196f3;
  margin-left: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.horizontal-product-list {
  margin-top: 16px;
}

.horizontal-product-list .product-item {
  padding: 40px 12px;
  position: relative;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
  margin-top: 20px;
}

.horizontal-product-list .product-item .status {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #78a962;
}

.horizontal-product-list .product-item .top {
  display: flex;
  gap: 25px;
}

.horizontal-product-list .product-item .top .product-item__image {
  width: 25%;
}

.horizontal-product-list .product-item .top .product-item__image img {
  width: 100%;
  object-fit: contain;
  transition: 0.5s;
}

.horizontal-product-list .product-item .top .product-item__image img:hover {
  transform: scale(1.1);
}

.horizontal-product-list .product-item .product-item__image-point .point {
  display: flex;
  align-items: center;
  gap: 20px;
}

.horizontal-product-list
  .product-item
  .product-item__image-point
  .point
  .star-rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.horizontal-product-list
  .product-item
  .product-item__image-point
  .point
  .review {
  color: #a2a6b0;
  font-size: 12px;
}

.horizontal-product-list .product-item .top .product-item__information {
  width: 40%;
  position: relative;
}

.horizontal-product-list .product-item .top .product-item__information::before {
  position: absolute;
  content: "";
  left: -16px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #dedede;
}

.horizontal-product-list .product-item .top .product-item__information::after {
  position: absolute;
  content: "";
  right: -8px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #dedede;
}

.horizontal-product-list .product-item .top .product-item__information .name {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.horizontal-product-list
  .product-item
  .product-item__information
  .information-list {
  margin-top: 16px;
  margin-left: 20px;
}

.horizontal-product-list
  .product-item
  .product-item__information
  .information-list
  .information-item {
  margin: 4px 0;
}

.horizontal-product-list
  .product-item
  .product-item__information
  .information-list
  .information-item {
  margin-left: 8px;
}

.horizontal-product-list .product-item .product-item__information .price {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.horizontal-product-list
  .product-item
  .product-item__information
  .price
  .old-price {
  font-size: 16px;
  text-decoration: line-through;
  color: #666666;
}

.horizontal-product-list
  .product-item
  .product-item__information
  .price
  .present-price {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.horizontal-product-list .product-item .prodcut-item__endow {
  width: 35%;
}

.horizontal-product-list .product-item .prodcut-item__endow .endow-title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.horizontal-product-list .product-item .prodcut-item__endow .endow-title img {
  width: 27px;
  height: 24px;
}

.horizontal-product-list .product-item .prodcut-item__endow .endow-title span {
  font-size: 16px;
  font-weight: bold;
}

.horizontal-product-list .product-item .prodcut-item__endow .endow-list {
  margin-top: 16px;
}

.horizontal-product-list
  .product-item
  .prodcut-item__endow
  .endow-list
  .endow-item {
  margin: 4px 0;
}

.horizontal-product-list .product-item .bottom {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.horizontal-product-list .product-item .bottom .point {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.horizontal-product-list .product-item .bottom .point .star-rating {
  font-size: 13px;
}

.horizontal-product-list .product-item .bottom .point .review {
  color: #a2a6b0;
  font-size: 12px;
}

.horizontal-product-list .product-item .bottom .buy-now-btn__details-btn {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.horizontal-product-list
  .product-item
  .bottom
  .buy-now-btn__details-btn
  button {
  padding: 6px 16px;
  border: 2px solid #0156ff;
  color: #0156ff;
  border-radius: 50px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
}

.horizontal-product-list
  .product-item
  .bottom
  .buy-now-btn__details-btn
  button:hover {
  background-color: #0156ff;
  color: #fff;
}

.horizontal-product-list
  .product-item
  .bottom
  .buy-now-btn__details-btn
  button:hover
  .btn-text {
  color: #fff;
}

.horizontal-product-list .product-item .bottom .other-function {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.horizontal-product-list .product-item .bottom .other-function .compare {
  padding: 6px 16px;
  border: 2px solid #0156ff;
  color: #0156ff;
  border-radius: 50px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
}

.horizontal-product-list .product-item .bottom .other-function .compare:hover {
  background-color: #0156ff;
  color: #fff;
}

.horizontal-product-list
  .product-item
  .bottom
  .other-function
  .compare:hover
  .btn-text {
  color: #fff;
}

.horizontal-product-list .product-item .bottom .other-function .compare svg {
  width: 20px;
  height: 24px;
}

.horizontal-product-list
  .product-item
  .bottom
  .other-function
  .mail-btn__favorite-btn {
  display: flex;
  align-items: center;
  gap: 16px;
}

.horizontal-product-list
  .product-item
  .bottom
  .other-function
  .mail-btn__favorite-btn
  button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #8c8c8c;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #8c8c8c;
  transition: 0.3s;
}

.horizontal-product-list
  .product-item
  .bottom
  .other-function
  .mail-btn__favorite-btn
  button:hover {
  color: #fff;
  background-color: #8c8c8c;
}

.horizontal-product-list
  .product-item
  .bottom
  .other-function
  .mail-btn__favorite-btn
  button
  span {
  font-size: 22px;
}

.product-item {
  border: 2px solid transparent;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
  transition: 0.3s;
}

.product-item:hover {
  border: 2px solid #d3cdcd;
}

.button-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.button-pages button {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #178fff;
  outline: none;
  background-color: #ffffff;
  color: #696d6e;
  transition: 0.3s;
}

.button-pages button:hover {
  color: #fff;
  background-color: #178fff;
}

.button-pages button.active {
  color: #fff;
  background-color: #178fff;
}
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Màu đen trần */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  width: 800px;
  height: 600px;
  padding: 20px;
  text-align: center;
  border-radius: 50px;
}
.popup .close-btn {
  float: right;
  color: white;
  background: red;
  border: none;
  border-radius: 4px;
  opacity: 0.7;
  padding: 6px 10px;
  font-size: 20px;
}
.popup .close-btn:hover {
  opacity: 1;
}
.popup input {
  width: 300px;
  font-size: 20px;
  padding: 10px;
}
.popup .suggestion {
  cursor: pointer;
  max-width: 600px;
  margin: auto;
  text-align: left;
  margin-bottom: 8px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.popup .suggestion:hover {
  background-color: rgba(0, 0, 0, 0.25);
  font-weight: 600;
}

.select-box select option {
  background-color: white;
  color: #333;
  font-size: 20px;
}
