<div class="container">
  <div class="banner">
    <img src="../assets/images/catalog/banner.png" alt="" />
  </div>

  <div class="number-product">Số lượng sản phẩm ({{ products.length }})</div>

  <div class="main-content">
    <div class="show-product">
      <div class="sub-show-product">
        <div class="sort-show-select">
          <div class="select-box">
            <span>Sắp xếp: </span>
            <select
              name=""
              id="sort"
              [(ngModel)]="typeSort"
              (change)="sortProduct()"
            >
              <option value="asc">Giá tăng dần</option>
              <option value="desc">Giá giảm dần</option>
            </select>
          </div>
          <div class="type-show-select" (click)="clickGridTypeList()">
            <span id="grid-type-list" class="material-icons-outlined active">
              apps
            </span>
          </div>
          <div class="type-show-select" (click)="clickHorizontalTypeList()">
            <span id="horizontal-type-list" class="material-icons-outlined">
              menu
            </span>
          </div>
        </div>
      </div>

      <div *ngIf="typeShowList; else horizontalList">
        <div class="grid-product-list" id="grid-list">
          <div *ngFor="let p of getProductsForCurrentPage()" class="column">
            <div class="product-item">
              <div class="status">
                <i class="fa-solid fa-circle-check"></i>
                <span>Còn hàng</span>
              </div>
              <a class="thumb" [href]="'/product/' + p.id">
                <img
                  [src]="'http://localhost:5000/images/' + p.productImage[0]"
                  alt=""
                />
              </a>
              <div class="point">
                <div class="star-rating">
                  <stars-rating
                    [rating]="p.ratingPoint"
                    [maxRating]="5"
                    [isReadOnly]="true"
                  ></stars-rating>
                </div>
                <span class="review">Đánh giá ({{ p.numberReview }})</span>
              </div>
              <a [href]="'/product/' + p.id" class="name">{{
                p.productName
              }}</a>
              <div class="old-price">{{ convertNumber(p.productPrice) }}đ</div>
              <div class="present-price">
                {{
                  convertNumber(
                    p.productPrice - (p.productPrice * p.productDiscount) / 100
                  )
                }}đ
              </div>
              <div class="compare">
                <i class="fa-solid fa-circle-plus"></i>
                <span>So sánh</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #horizontalList>
        <div class="horizontal-product-list">
          <div
            *ngFor="let p of getProductsForCurrentPage()"
            class="product-item"
          >
            <div class="status">
              <i class="fa-solid fa-circle-check"></i>
              <span>Còn hàng</span>
            </div>
            <div class="top">
              <div class="product-item__image">
                <a [href]="'/product/' + p.id">
                  <img
                    [src]="'http://localhost:5000/images/' + p.productImage[0]"
                    alt=""
                  />
                </a>
              </div>

              <div class="product-item__information">
                <a class="name">
                  {{ p.productName }}
                </a>
                <div class="price">
                  <span class="old-price">
                    {{ convertNumber(p.productPrice) }}đ</span
                  >
                  <span class="present-price">
                    {{
                      convertNumber(
                        p.productPrice -
                          (p.productPrice * p.productDiscount) / 100
                      )
                    }}đ</span
                  >
                </div>
                <!-- specifications của Laptop -->
                <ul *ngIf="p.categoryId == 1" class="information-list">
                  <li class="information-item">
                    Màn hình: {{ p.specifications.screen }}
                  </li>
                  <li class="information-item">
                    CPU: {{ p.specifications.cpu }}
                  </li>
                  <li class="information-item">
                    RAM: {{ p.specifications.ram }}
                  </li>
                  <li class="information-item">
                    Hệ điều hành: {{ p.specifications.operatingSystem }}
                  </li>
                  <li class="information-item">
                    Card đồ họa: {{ p.specifications.gpu }}
                  </li>
                  <li class="information-item">
                    Khối lượng: {{ p.specifications.weight }}
                  </li>
                  <li class="information-item">
                    Khích thước: {{ p.specifications.size }}
                  </li>
                </ul>

                <!-- specifications của Phone và Tablet -->
                <ul
                  *ngIf="p.categoryId == 2 || p.categoryId == 3"
                  class="information-list"
                >
                  <li class="information-item">
                    Màn hình: {{ p.specifications.screen }}
                  </li>
                  <li class="information-item">
                    CPU: {{ p.specifications.cpu }}
                  </li>
                  <li class="information-item">
                    RAM: {{ p.specifications.ram }}
                  </li>
                  <li class="information-item">
                    Camera: {{ p.specifications.camera }}
                  </li>
                  <li class="information-item">
                    Hệ điều hành: {{ p.specifications.operatingSystem }}
                  </li>
                  <li class="information-item">
                    Pin: {{ p.specifications.batteryCapacity }}
                  </li>
                  <li class="information-item">
                    Khối lượng: {{ p.specifications.weight }}
                  </li>
                </ul>

                <!-- specifications của Earphone -->
                <ul *ngIf="p.categoryId == 4" class="information-list">
                  <li class="information-item">
                    Model: {{ p.specifications.model }}
                  </li>
                  <li class="information-item">
                    Kiểu tai nghe: {{ p.specifications.type }}
                  </li>
                  <li class="information-item">
                    Kiểu kết nối: {{ p.specifications.connection }}
                  </li>
                  <li class="information-item">
                    Khoảng cách kết nối:
                    {{ p.specifications.connectionDistance }}
                  </li>
                  <li class="information-item">
                    Mircophone: {{ p.specifications.micrphone }}
                  </li>
                  <li class="information-item">
                    Khối lượng: {{ p.specifications.weight }}
                  </li>
                </ul>

                <!-- specifications của Mouse -->
                <ul *ngIf="p.categoryId == 5" class="information-list">
                  <li class="information-item">
                    DPI: {{ p.specifications.DPI }}
                  </li>
                  <li class="information-item">
                    Kiểu kết nối: {{ p.specifications.connection }}
                  </li>
                  <li class="information-item">
                    Led: {{ p.specifications.led }}
                  </li>
                  <li class="information-item">
                    Khối lượng: {{ p.specifications.weight }}
                  </li>
                  <li class="information-item">
                    Màu:
                    <span *ngFor="let color of p.specifications.color"
                      >{{ color }}
                    </span>
                  </li>
                </ul>

                <!-- specifications của Keyboard -->
                <ul *ngIf="p.categoryId == 6" class="information-list">
                  <li class="information-item">
                    Model: {{ p.specifications.model }}
                  </li>
                  <li class="information-item">
                    Kiểu kết nối: {{ p.specifications.connection }}
                  </li>
                  <li class="information-item">
                    Khoảng cách kết nối:
                    {{ p.specifications.connectionDistance }}
                  </li>
                  <li class="information-item">
                    Switch: {{ p.specifications.switch }}
                  </li>
                  <li class="information-item">
                    Kiểu bàn phím: {{ p.specifications.type }}
                  </li>
                  <li class="information-item">
                    Số phím: {{ p.specifications.numberOfKeys }}
                  </li>
                  <li class="information-item">
                    Led: {{ p.specifications.ledLight }}
                  </li>
                  <li class="information-item">
                    Kích thước: {{ p.specifications.size }}
                  </li>
                </ul>

                <!-- specifications của Application -->
                <ul *ngIf="p.categoryId == 7" class="information-list">
                  <li class="information-item">
                    Ngôn ngữ: {{ p.specifications.language }}
                  </li>
                  <li class="information-item">
                    Phần mềm: {{ p.specifications.type }}
                  </li>
                  <li class="information-item">
                    Số người dùng: {{ p.specifications.numberOfUser }}
                  </li>
                  <li class="information-item">
                    Tương thích với hệ điều hành:
                    {{ p.specifications.operationSystem }}
                  </li>
                </ul>
              </div>

              <div class="prodcut-item__endow">
                <div class="endow-title">
                  <img src="../assets/images/icons/discount.png" alt="" />
                  <span>Ưu đãi</span>
                </div>
                <ul class="endow-list">
                  <li class="endow-item">Nhập 10CHAM ưu đãi ngay 1 triệu</li>
                  <li class="endow-item">
                    Thanh toán online giảm ngay 3 triệu
                  </li>
                  <li class="endow-item">Thu cũ đổi mới hỗ trợ ngay 3 triệu</li>
                  <li class="endow-item">Miễn phí vận chuyển toàn quốc</li>
                  <li class="endow-item">
                    Đổi trả trong 30 ngày nếu phát sinh lỗi của nhà sản xuất
                  </li>
                </ul>
              </div>
            </div>

            <div class="bottom">
              <div class="point">
                <div class="star-rating">
                  <stars-rating
                    [rating]="p.ratingPoint"
                    [maxRating]="5"
                    [isReadOnly]="true"
                  ></stars-rating>
                </div>
                <span class="review">Đánh giá ({{ p.numberReview }})</span>
              </div>

              <div class="buy-now-btn__details-btn">
                <button class="buy-now-btn" (click)="addToCart(p, 1)">
                  <span class="material-icons-outlined"> shopping_cart </span>
                  <span><a class="btn-text">Mua ngay</a></span>
                </button>
                <button class="details-btn">
                  <span class="material-icons-outlined"> bar_chart </span>
                  <span
                    ><a class="btn-text" [href]="'/product/' + p.id"
                      >Xem chi tiết</a
                    ></span
                  >
                </button>
              </div>

              <div class="other-function">
                <button class="compare" (click)="openPopup(p.id)">
                  <i class="fa-solid fa-circle-plus"></i>
                  <span><a class="btn-text">So sánh</a></span>
                </button>
                <div class="mail-btn__favorite-btn">
                  <button class="mail-btn">
                    <span class="material-icons-outlined"> email </span>
                  </button>
                  <button class="favorite-btn">
                    <span class="material-icons-outlined">
                      favorite_border
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <div class="button-pages">
        <button
          *ngFor="let pageNumber of getPageNumbers()"
          (click)="goToPage(pageNumber, $event)"
        >
          {{ pageNumber }}
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="popUp" class="popup-container" (click)="onPopupClick($event)">
  <div class="popup">
    <button class="close-btn" (click)="closePopup()">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <h3>Nhập tên sản phẩm để so sánh</h3>
    <input type="text" [(ngModel)]="searchTerm" (input)="getProductCompare()" />
    <div class="recomendation">
      <ng-container *ngFor="let suggestion of suggestions">
        <div class="suggestion" (click)="compare(suggestion._id)">
          <img
            width="36px"
            height="36px"
            src="http://localhost:5000/images/{{ suggestion.productImage[0] }}"
            alt=""
          />
          {{ suggestion.productName }}
        </div>
      </ng-container>
    </div>
  </div>
</div>
